<head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<footer class="footer pt-6 pb-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="navbar-brand-dark mb-4" height="35" src="{{ ASSETS_ROOT }}/img/brand/light.svg"
                    alt="Logo light">
                <p>Technology driving sustainable development.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/ASPPIBRA_ORG" aria-label="twitter social link"
                            class="icon-white me-2" target="_blank">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/asppibra-dao/" class="icon-white me-2"
                            aria-label="linkedin social link" target="_blank">
                            <span class='fa fa-linkedin'</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ASPPIBRA-DAO" aria-label="github social link" class="icon-white me-2" target="_blank">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.crunchbase.com/organization/sandro" class="icon-white" aria-label="dribbble social link" target="_blank">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                    <ul>
                        <li>
                            <a href="https://discord.gg/q8shtEBgey" class="icon-white" aria-label="dribbble social link" target="_blank">
                                <span class="fab fa-discord"></span>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Themesberg</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="/blog.html">Blog</a></li>
                    <li><a target="_blank" href="/e-commerce">Products</a></li>
                    <li><a target="_blank" href="/who_we_are">Who we are</a></li>
                    <li><a target="_blank" href="/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Other</span>
                <ul class="footer-links mt-2">
                    <li><a href="https://"
                            target="_blank">Docs
                            <span class="badge badge-sm bg-success ms-2">v5.4</span></a></li>
                    <li><a href="https://"
                            target="_blank">Changelog</a></li>
                    <li><a target="_blank" href="https://">License</a>
                    </li>
                    <li><a target="_blank"
                            href="/support.html">Support</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Newsletter</span>
                <p class="text-muted font-small mt-2">Subscribe to receive the best content.
                </p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email"
                                aria-label="Subscribe form" id="exampleInputEmail3" required>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-tertiary" data-loading-text="Sending">
                                <span>Inscreva-se</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">We’ll never share your details. See our <a class="text-white"
                        href="#">Privacy Policy</a></p>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <a href="https://" target="_blank" class="d-flex justify-content-center mb-3">
                    <img src="{{ ASSETS_ROOT }}/img/themesberg.svg" height="30" class="me-2" alt="Themesberg Logo">
                    <p class="text-white fw-bold footer-logo-text m-0">Themesberg</p>
                </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        &copy; 2023 ASPPIBRA-DAO - Todos os direitos reservados.    
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
