
<div class="container position-relative">
    <a class="navbar-brand me-lg-5" href="/">
        <img class="navbar-brand-dark" src="{{ ASSETS_ROOT }}/img/brand/btc-light.svg" alt="Logo light">
        <img class="navbar-brand-light" src="{{ ASSETS_ROOT }}/img/brand/btc-dark.svg" alt="Logo dark">
    </a>
    <div class="navbar-collapse collapse me-auto" id="navbar_global">
        <div class="navbar-collapse-header">
            <div class="row">
                <div class="col-6 collapse-brand">
                    <a href="/">
                        <img src="{{ ASSETS_ROOT }}/img/brand/btc-dark.svg" alt="Themesberg logo">
                    </a>
                </div>
                <div class="col-6 collapse-close">
                    <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                </div>
            </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                    Dashboard
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="d-block mb-3 text-primary">User dashboard</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/profile.html">Profile</a>
                                </li>                                        
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/settings.html">Settings</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/security.html">Security</a>
                                </li>
                            </ul>
                            <h6 class="d-block mb-3 text-primary">My store</h6>
                            <ul class="list-style-none">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/my_items.html">My items</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/edit_item.html">Edit item</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h6 class="d-block mb-3 text-primary">Messaging</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/messages.html">Messages</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/single_message.html">Chat</a>
                                </li>
                            </ul>
                            <h6 class="d-block mb-3 text-primary">My finances</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/account.html">My account</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/crypto.html">Crypto</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/billing.html">Payment details</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/invoice.html">Invoice</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" 
                     aria-expanded="false" data-bs-toggle="dropdown"> Ecosystem
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <h6 class="d-block mb-3 text-primary">Main pages</h6>
                            <ul class="list-style-none mb-4">                                        
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/team.html">Team</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/services.html">Services</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/pricing.html">Pricing</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/who_we_are.html">Who we are</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/careers.html">work with us</a>
                                </li>                                                                               
                            </ul>                                    
                        </div>
                        <div class="col-6 col-lg-4">
                            <h6 class="d-block mb-3 text-primary">Acting</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/blockchain.html">Registry on blockchain</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/environment.html">Environmental services</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/agribusiness.html">Agribusiness</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/exploration.html">Sustainable Exploration</a>
                                </li>
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/power.html">Power generation</a>
                                </li>                                                                        
                            </ul>                                                                       
                        </div>                        
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="blogDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                    Blog
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="blogDropdown">
                    <div class="row">
                        <div class="col-4 col-lg-2">                                    
                            <h6 class="d-block mb-3 text-primary">Blog</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/blog/blog.html">Blog </a>
                                </li>                                        
                            </ul>
                        </div>                                    
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="contactDropdown" 
                        aria-expanded="false" data-bs-toggle="dropdown"> Contact
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" 
                        aria-labelledby="contactDropdown">
                    <div class="row">
                        <div class="col-4 col-lg-2">                                    
                            <h6 class="d-block mb-3 text-primary">Contact</h6>
                            <ul class="list-style-none mb-4">
                                <li class="mb-2 megamenu-item">
                                    <a class="megamenu-link" href="/contact.html">Contact </a>
                                </li>                                        
                            </ul>
                        </div>                                    
                    </div>
                </div>
            </li>                                                                                    
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                     id="supportDropdown" aria-expanded="false"> Support
                    <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                    <div class="col-auto px-0">
                        <div class="list-group list-group-flush">                                    
                            <a href="https://asppibra-dao.gitbook.io/product-docs/" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                <div class="ms-4">
                                    <span class="d-block font-small fw-bold mb-0">Documentation<span class="badge badge-sm badge-secondary ms-2">v3.1</span></span>
                                    <span class="small">Examples and guides</span>
                                </div>
                            </a>
                            <a href="/support.html" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                <div class="ms-4">
                                    <span class="d-block font-small fw-bold mb-0">Support</span>
                                    <span class="small">Need help? Ask us!</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="d-flex align-items-center">
        <a href="{% url 'logout' %}" 
           class="btn btn-tertiary"><span class="fas fa-sign-out-alt me-2"></span>Logout</a>
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>