{% extends 'layouts/base-fullscreen.html' %}

{% load static %}

{% block content %} 
    
    <header class="page-header bg-gradient-dark position-relative m-3 border-radius-xl min-vh-50">
        <div class="video-background">
            <video autoplay muted loop id="video-bg">
                <source src="{% static 'assets/mp4/tecnologia.mp4' %}" type="video/mp4">
                <!-- Include additional source elements for other video formats if needed -->
                Your browser does not support the video tag.     
            </video>
        </div>        
    </header>
    
    
      
    <div class="container-fluid px-5 my-6">
        <div class="card mt-n8"> 
            <body>                
                <!-- Header-->                 
                <section class="section section-lg py-sm-3">  <!-- Reduced top padding for better screen usage -->
                    <div class="container z-2 mt-sm-n6 mt-md-n7">     
                        <div class="card bg-primary shadow border-gray-300">                    
                            <div class="card-body p-4 p-lg-3">  <!-- Consistent padding -->                  
                                <div class="card bg-white shadow border-gray-300">
                                    <div class="card-body p-4 p-lg-5">  <!-- Consistent padding -->
                                        <div class="row">
                                            <div class="col-md-8 mx-auto">
                                              <div class="carousel slide" data-bs-ride="carousel">                        
                                                <ul class="carousel-inner">
                                                    <li class="carousel-item active">
                                                        <img class="img-fluid image-sm" src="https://bafybeibjauffrsy5633fcrgnqgkxzoabwe2zkphtf2a7473sjacw5bt5c4.ipfs.w3s.link/Binance.svg" alt="paypal logo">
                                                                                
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeicwskpft5pga2yohomthqrql47ump3fjq5rjqgu4vhrq5tif3nkeq.ipfs.w3s.link/Bitcoin.svg" alt="Bitcoin BTC logo">                            
                                                                                
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeifivlmoljx6od7fkbogjav5zrqoyyicjlxhs4clm5yzvhxaxbuzci.ipfs.w3s.link/Ethereum.svg" alt="forbes logo">
                                                        
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeicas63lhrjcndaol7epuq5lswd5wtdrihkrbd6ugmafyqmoef3qti.ipfs.w3s.link/Solana.svg" alt="elastic logo">
                                                        
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeibpenm3tvo66cmkqt46l5nb5ejixltocjupvra7uvtyzy7gathaui.ipfs.w3s.link/Polygon.svg" alt="docker logo">
                                                        
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeiddxapnsesc53xvwh4gbb6wcsolw4jju4b3b56yja44mdw6ciu23m.ipfs.w3s.link/Polkadot.svg" alt="forbes logo">
                                                        
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeibu7useuuv22lzty5jfhjnxk66tjtgyfc5gugbbr5dymk4wtzbbaq.ipfs.w3s.link/web3.svg" alt="forbes logo">
                                                    </li>
                                                    <li class="carousel-item">
                                                        <img class="img-fluid image-sm" src="https://bafybeiajkl3frzwsi3a2mbpxnfzdtwd44shwsiakwiaknkql4s2toiruna.ipfs.w3s.link/ipfs.svg" alt="forbes logo">
                                                    </li>
                                                </ul>                                                
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                        
                            </div>             
                        </div>                         
                    </div>
                </section>
                     
                <!-- Features section-->                
                <section class="py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-lg-2">
                                <div class="p-5"><img class="img-fluid rounded-circle" src="https://bafybeigcunlm2coaqz6mgssbbyaxdef2r26vni4zamdj67blr3dagvrj2e.ipfs.w3s.link/mundo_btc.png" alt="Perfumery Image"></div>
                                </div>
                                <div class="col-lg-6 order-lg-1">
                                <div class="p-5">
                                    <h2 class="display-4">Welcome To the digital world.</h2>
                                    <p>   
                                        Engage in worldwide digital inclusion by joining a network composed of the most influential figures of our generation.
                                        Together, we are reshaping the dynamics of human interaction and fundamentally transforming the business transaction paradigm.
                                        Connect with individuals across the globe, seamlessly exchanging messages, photos, and calls, 
                                        all while ensuring swift and secure negotiations, from any corner of the planet.
                                    </p>
                                </div>
                                <div class="text-center text-lg-left">
                                    <button class="btn btn-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Testimonial section-->
                <div class="py-5 bg-light">
                    <div class="container px-5 my-5">
                        <!-- Title -->
                        <div class="row justify-content-center mb-5 mb-lg-6">
                            <div class="col-12 text-center">
                                <h2 class="h1 mb-3">Unlocking Tomorrow's Digital Frontier</h2>
                                <p class="lead px-5 px-lg-7">Experience a World of Innovation where A.I.-Empowered Code, Next-Gen Technologies, 
                                    Cutting-Edge Design, Blockchain Security, Web3 Assurance, and Mobile App Compatibility Redefine Your Digital Odyssey.</p>
                            </div>
                        </div>
                        <!--End of Title-->
                        
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                                <a href="#" class="card shadow text-center border-gray-300 animate-up-1">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                            <span class="fas fa-coins"></span>
                                        </div>
                                        <h3 class="h4 my-3">Blockchain Storage</h3>
                                        <p class="fw-normal text-muted">Description for Blockchain Storage</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                                <a href="#" class="card shadow text-center border-gray-300 animate-up-2">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                            <span class="fas fa-shield-alt"></span>
                                        </div>
                                        <h3 class="h4 my-3">Protected By Web3</h3>
                                        <p class="fw-normal text-muted">Description for Protected By Web3</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                                <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                            <span class="fab fa-android"></span>
                                        </div>
                                        <h3 class="h4 my-3">Compatible with Mobile Apps</h3>
                                        <p class="fw-normal text-muted">Description for Compatible with Mobile Apps</p>
                                    </div>
                                </a>
                            </div>
                        </div>                                                           
                    </div>
                </div>
                <section class="section section-sm py-7">
                    <div class="container">                                     
                        <div class="col-12 mb-4">
                            
                            <div class="card-body p-4 p-lg-5">                                                                                
                                <div class="row align-items-center justify-content-around">
                                    <div class="col-md-6 col-lg-3 mb-5">
                                        <img class="img-fluid d-none d-md-block" src="https://bafybeifztqrnj76s3qdiapkfd2h6rf2qdnwszsftxexrvgqqfkjmljv47e.ipfs.w3s.link/iphone.png" alt="Phone mockup">
                                    </div>
                                    <div class="col-md-6 col-lg-7">
                                        <!-- Icon Box -->
                                        <div class="card border-0 mb-2">
                                            <div class="card-body">
                                                <div class="d-flex p-2">
                                                    <div>
                                                        <div class="icon icon-secondary">
                                                            <span class="far fa-hand-pointer"></span>
                                                        </div>
                                                    </div>
                                                    <div class="ps-4">
                                                        <h3 class="h5 icon-box-title">Powerful Code Revised with A.I</h3>
                                                        <p class="icon-box-text">Unleash the untapped potential: Our code, meticulously crafted with precision, is elevated to new heights through the seamless fusion of cutting-edge A.I. algorithms.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of Icon Box -->
                                        <!-- Icon Box -->
                                        <div class="card border-0 mb-2">
                                            <div class="card-body">
                                                <div class="d-flex p-2">
                                                    <div>
                                                        <div class="icon icon-secondary">
                                                            <span class="fas fa-fingerprint"></span>
                                                        </div>
                                                    </div>
                                                    <div class="ps-4">
                                                        <h3 class="h5 icon-box-title">New technologies</h3>
                                                        <p class="icon-box-text">Innovating Beyond Horizons: Where Emerging Technologies Reshape Today's Digital Landscape.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of Icon Box -->
                                        <!-- Icon Box -->
                                        <div class="card border-0 mb-2">
                                            <div class="card-body">
                                                <div class="d-flex p-3">
                                                    <div>
                                                        <div class="icon icon-secondary">
                                                            <span class="far fa-grin-stars"></span>
                                                        </div>
                                                    </div>
                                                    <div class="ps-4">
                                                        <h3 class="h5 icon-box-title">Modern UX/UI Design</h3>
                                                        <p class="icon-box-text">Elevating Digital Aesthetics: Redefining Elegance through Mastery of Modern UX/UI Design.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of Icon Box -->
                                    </div>
                                </div>                    
                            </div>
                            
                        </div> 
                    </div>
                </section>
                <!-- Testimonial section-->
                <div class="py-5 bg-light">
                    <div class="container px-5 my-5">
                        <!-- Title -->
                        <div class="row justify-content-center mb-5 mb-lg-6">
                            <div class="col-12 text-center">
                                <h2 class="h1 mb-3">Your Gateway to Leading Blockchains and Dapps</h2>
                                <p class="lead px-5 px-lg-7">Unleash the Power of Blockchain and Dapps Elevating Your Digital World with Unprecedented Interoperability and Innovation.</p>
                            </div>
                        </div>
                        <!--End of Title-->            
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                                <!-- Card -->
                                <a href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/for-developers/requirements" class="card shadow text-center border-gray-300 animate-up-3">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                            <span class="fas fa-clipboard-list"></span>
                                        </div>
                                        <h6 class="text-gray mb-0">Requirements</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                                <!-- Card -->
                                <a href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/for-developers/licensing" class="card shadow text-center border-gray-300 animate-up-3">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                            <span class="fas fa-receipt"></span>
                                        </div>
                                        <h6 class="text-gray mb-0">Licensing</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                                <!-- Card -->
                                <a href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/for-developers/integration" class="card shadow text-center border-gray-300 animate-up-3">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                            <span class="fas fa-code-branch"></span>
                                        </div>
                                        <h6 class="text-gray mb-0">Integration</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <!-- Card -->
                                <a href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/for-developers/cloud-storage" class="card shadow text-center border-gray-300 animate-up-3">
                                    <div class="card-body p-5">
                                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                            <span class="fab fa-cloudversify"></span>
                                        </div>
                                        <h6 class="text-gray mb-0">Cloud Storage</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="section section-sm py-6">
                    <div class="container">
                        <!-- Title -->            
                        <div class="row mt-lg-6 mb-4 mb-lg-6">                                        
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                                        
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeigc6cixgbxfvrfb7zfjjhhs5kzvlrjeojv4uelao2l52fcmftrqiq.ipfs.w3s.link/3.png" alt="Modern desk"></div>                     
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeihqf57dwp76u5clugp5gzremkxd2ybrbuyacw3k3amwbjrucaopi4.ipfs.w3s.link/4.png" alt="Themesberg building"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeie5gjfuuer6og64hxept4mej7v7aqepabwadcsao7lume3pmlpfca.ipfs.w3s.link/5.png" alt="Pancakeswap"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeicsfmgzqopzsrg4kiagla6u4cvujsmsyncaxxz7flpi53p7epdl2i.ipfs.w3s.link/6.png" alt="Modern desk"></div> 
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeiewlhgwobj7dr6eizqdtkfbsynafimojbuqpicjj4slextlklbg6y.ipfs.w3s.link/7.png" alt="Pancakeswap"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                                <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeifuz5u4xvfno5q4lotsooidx6qhjmyjokjy34mihnsr4bpmrdx2aa.ipfs.w3s.link/8.png" alt="Uniswap"></div>
                            </div>                                                        
                        </div>                       
                    </div>
                </section>
                
                <section class="section section-sm py-6">
                    <div class="container">
                        <!-- Title -->
                        <div class="row justify-content-center mb-5 mb-lg-6">
                            <div class="col-12 text-center">
                                <h2 class="h1 mb-3">Syncing Your Web3 Journey</h2>
                                <p class="lead px-5 px-lg-7">Where inclusion, training and satisfaction converge to elevate your experience in the digital world.</p>
                            </div>
                        </div>
                        <!--End of Title-->                                            
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="card shadow text-start p-1 p-md-4 mb-4 mb-lg-0">
                                    <div class="card-body">
                                    <div class="d-flex px-1 px-md-3">
                                        <div>
                                            <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                                        </div>
                                        <div class="ps-2 ps-md-3">
                                            <h3 class="h5">100% Satisfaction</h3>
                                            <p>Our Application Redefines User Satisfaction through User-Friendly Features and Intuitive Services.</p>                                
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="card shadow text-end p-1 p-md-4 mb-4 mb-lg-0">
                                    <div class="card-body">
                                    <div class="d-flex px-1 px-md-3">
                                        <div class="me-2 me-md-4">
                                            <h3 class="h5">100% Digital Inclusion</h3>
                                            <p>Access for All: Where Digital Inclusion and User-Friendly Services Come Together, Enabling Everyone to Participate in the Digital Revolution.</p>                                
                                        </div>
                                        <div>
                                            <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                                        </div>
                                    </div>                        
                                </div>
                            </div>
                        </div>            
                    </div>
                </section>
                <div class="py-5 bg-light">
                    <div class="container px-5 my-5">
                        <section class="section section-sm py-6">
                            <div class="container">
                                <!-- Title -->
                                <div class="row justify-content-center mb-5 mb-lg-6">
                                    <div class="col-12 text-center">
                                        <h2 class="h1 mb-3">Revolutionizing the Future with DeFi, NFTs, and SocialFi Networks</h2>
                                        <p class="lead px-5 px-lg-7">Dive into a World of Decentralized Finance, Unique Digital Assets, and Social Financial Interactions.</p>
                                    </div>
                                </div>
                                <!--End of Title-->
                                    
                                <div class="section pt-2">
                                    <div class="container">            
                                        <div class="row mt-lg-6 mb-4 mb-lg-6">
                                            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                                                <div class="card border-gray-300">
                                                    <div class="card shadow">
                                                        <a href="#"><img src="{% static 'assets/img/home/defi.svg' %}" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                                        <div class="card-body">                                
                                                            <h2 class="h5">
                                                                <a href="#">DeFi</a>
                                                            </h2>
                                                            <p class="card-text my-2">Decentralized Finance</p>
                                                        </div>
                                                        <div class="card-footer bg-white border-0 px-0 py-0">
                                                            <div class="d-grid">
                                                                <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/defi">
                                                                    <span class="fas fa-book-open me-1"></span> Read More
                                                                </a>
                                                            </div>
                                                        </div>                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                                                <div class="card border-gray-300 mt-lg-n6">
                                                    <div class="card shadow">
                                                        <a href="#"><img src="{% static 'assets/img/home/nft.svg' %}" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                                        <div class="card-body">                                
                                                            <h2 class="h5">
                                                                <a href="#">NFT</a>
                                                            </h2>
                                                            <p class="card-text my-2">Non-Fungible Token</p>
                                                        </div>
                                                        <div class="card-footer bg-white border-0 px-0 py-0">
                                                            <div class="d-grid">
                                                                <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/nft">
                                                                    <span class="fas fa-book-open me-1"></span> Read More
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                                                <div class="card border-gray-300">
                                                    <div class="card shadow">
                                                        <a href="#"><img src="{% static 'assets/img/home/socialfi.svg' %}" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                                        <div class="card-body">                                
                                                            <h2 class="h5">
                                                                <a href="#">SocialFi Network</a>
                                                            </h2>
                                                            <p class="card-text my-2">Decentralized Social Network</p>
                                                        </div>
                                                        <div class="card-footer bg-white border-0 px-0 py-0">
                                                            <div class="d-grid">
                                                                <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/socialfi-network">
                                                                    <span class="fas fa-book-open me-1"></span> Read More
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>     
                                        </div>                
                                    </div>
                                </div>                                            
                            </div>
                        </section>
                    </div>
                </div>
                                                                                               
            </body>
            
        </div>         
    </div>
    
            

{% endblock content %}

{% block footer %}

  {% include 'includes/footer-fullscreen.html' %}

{% endblock footer %}


{% block extra_js %}

  <script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
  <script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock extra_js %}