<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a href="{% url 'about_us' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          About Us
        </a>
        <a href="{% url 'projects' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Projects
        </a>
        <a href="{% url 'contact' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Contact
        </a>        
        <a href="{% url 'emporium' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Emporium
        </a>
        <a href="{% url 'blog' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Blog
        </a>
        <a href="{% url 'pricing' %}" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
          Pricing
        </a>
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a href="https://www.crunchbase.com/organization/sandro" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-dribbble"></span>
        </a>
        <a href="https://twitter.com/ASPPIBRA_ORG" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a href="https://www.instagram.com/asppibra/" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-instagram"></span>
        </a>        
        <a href="https://github.com/ASPPIBRA-DAO" target="_blank" class="text-secondary me-xl-4 me-4">
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          &copy; Digital World - Coded by ASPPIBRA-DAO.
        </p>
      </div>
    </div>
  </div>
</footer>