{% extends "layouts/base.html" %}

{% block title %} Agribusiness {% endblock %}  

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header bg-primary-app text-dark pb-md-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-2 mb-4">Hub <span class="text-secondary-app fw-bold">Commodities Agribusiness.</span>
                    </h1>
                    <p class="lead text-gray mb-1">Welcome to your gateway to the world of premium food products. 
                        Our Agribusiness Food Product page is a treasure trove of exceptional culinary delights and agricultural innovations, 
                        representing the pinnacle of quality, sustainability, and global agribusiness expertise.
                    </p>                                        
                    <div class="d-flex flex-wrap mt-4 mt-lg-5"></div>
                    <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="organic-radius img-fluid" src="https://bafybeic4yw5btk2z2x523snjkm7v7ee33ec7rrpzk2p5j753fb33z3suuy.ipfs.w3s.link/trator.png" alt="Mobile App Mockup">
                </div>
            </div>
        </div>
    </section>    
    <!-- Section -->
    <section class="section section-md">
        <div class="container">            
            <div class="row align-items-center justify-content-between text-center text-md-left">
                <div class="col-md-4 mb-4 mb-lg-0">
                    <h2 class="display-2 fw-light">Market <span class="fw-bold">Insights</span></h2>
                </div>
                <div class="col-md-8 col-lg-6">
                    <p class="lead mb-0">Stay up-to-date with the latest trends, market insights, and pricing information for these essential food items. 
                        Whether you're a farmer, a consumer, or an industry professional, our website is your go-to resource for tracking fluctuations 
                        in food commodity prices and understanding the factors influencing them. 
                    </p>
                </div>
            </div>
            <div class="row mt-5 mt-lg-7">
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeidebku22elkqstkf5dgdkharmbw7c4xgv74evqjmknqttd43ux7ce.ipfs.w3s.link/gado.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>                                
                            </div>                                    
                            <h3 class="h5 card-title mt-4">Livestock.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeidnm5hdcu26dva2kt5eqqtyrrzux7erslgy4hcuzwj6a7kbjz2qxa.ipfs.w3s.link/galinha.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>                                
                            </div> 
                            <h3 class="h5 card-title mt-4">Poultry farming.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                 
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeieg6mutyikfnwi4mdbrgzxwlsnfzhgxewfzsa3czwljmdbayyo3we.ipfs.w3s.link/porco.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Pig farming.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                            
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                              
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeid5jif7yzzyr5rhfunytn5a2xnvjgs6orakvmeu7q5ubocpx3no6a.ipfs.w3s.link/carneiro.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Sheep farming.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeigcdw3xew5xn4sternz2s2dkxbuztxzp343igablfv3yarcumsqm4.ipfs.w3s.link/algod%C3%A3o.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">cotton.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeigjhasownz5aqkdqrh2lcysgbl3rqsuobnv7d5m4uf42r5f7f5mdy.ipfs.w3s.link/caf%C3%A9.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Coffee .</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeia2fcs6ujtozpzfnmfljh5alia3lapexotcvcct3my6ba77mmhmay.ipfs.w3s.link/milho.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Corn.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeiaqkizv6qovurqnjath2r456pb2go4lfj3542w5jyagrkg2yhxlei.ipfs.w3s.link/soja.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Soy.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeia2xop5rgokjmseuacmiswxog3nmyytqwi3v72jiov3sfjrzzlhhm.ipfs.w3s.link/mel.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Beekeeping.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                    
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeihyg4wrq7dahb47rgoym2gefceeq5ahqu2ak7bagzepprasy6gyfq.ipfs.w3s.link/laticinios.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Dairy.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                             
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeicvl4n6mci2koaamysqbdc57ahcltgifbdrugsfuk5r3mmapwdpkq.ipfs.w3s.link/ovos.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Posture.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                     
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeif7kbjd62bzjcsyiwhsry53qtm7vdj2obuc2q4uv2bii5tz6igxcm.ipfs.w3s.link/frutas.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Fruit growing.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                                    
            </div>
        </div>
    </section>
    <div class="section bg-primary-app">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-lg-6">
                    <span class="h5 text-muted mb-2 d-block">Digital world The Power of the Web3</span>
                    <h2 class="display-3 mb-4">Why choose the food commodity center?</h2>
                    <p class="lead text-muted">Engage with a community of individuals and experts passionate about food security, 
                        agriculture, and the future of our food systems. Share your thoughts, questions, and experiences to contribute 
                        to the ongoing dialogue about the world's most essential commodities.                                                 
                    </p>
                    <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
                        <div>
                            <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 ms-lg-auto">
                    <img class="d-none d-lg-inline-block" src="https://bafybeih3hhp3vd6gmwzjzrn2jhowkwhtefuemrz5y3uvjss6uthubelpqy.ipfs.w3s.link/fazendeiro.png" alt="Servidor Illustration">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
