{% extends "layouts/base.html" %}

{% block title %} Blog {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css">
{% endblock stylesheets %}


{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-4">Our Blog</h1>
                    <p class="lead">
                        
                        Immerse yourself in the dynamic world where agriculture, sustainability, 
                        technology and cryptocurrency converge. Our blog is your gateway to the insightful updates, 
                        analysis and trends shaping these interconnected markets.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg line-bottom-light">
        <div class="container mt-n10 mt-lg-n12 z-2">
            <div class="row">
                {% for item in main_posts_with_urls %}
                <div class="col-lg-12 mb-5">
                    <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-4">
                        <a href="{% url 'blog_post_detail' item.post.id %}" class="col-12 col-lg-6">
                            <img src="{{ item.full_url }}" alt="{{ item.post.title }}">
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-5">
                            <a href="{% url 'blog_post_detail' item.post.id %}">
                                <h2>{{ item.post.title }}</h2>
                            </a>
                            <p>
                                {{ item.post.summary }}
                            </p>
                            <div class="d-flex align-items-center mt-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/team/carol-br-1.png" alt="Richard avatar"> 
                                <h3 class="h6 small ms-2 mb-0"> {{ item.post.author }}</h3>
                                <span class="h6 text-muted small fw-normal mb-0 ms-auto">
                                    <time datetime="2023-08-16">{{ item.post.date_post }}</time>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="glide-testimonials">
                                <div data-glide-el="track" class="glide__track">
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                            <div class="row">
                                                {% for item in posts_with_urls %}
                                                <div class="col-12 col-md-4 mb-4 mb-lg-5">
                                                    <div class="card shadow bg-white border-gray-300 p-4 rounded">
                                                        <a href="{% url 'blog_post_detail' item.post.id %}">
                                                            <img src="{{ item.full_url }}" class="card-img-top rounded" alt="our desk">
                                                        </a>
                                                        <div class="card-body p-0 pt-4">
                                                            <a href="{% url 'blog_post_detail' item.post.id %}" class="h4"> {{ item.post.title }} </a>
                                                            <div class="d-flex align-items-center my-3">
                                                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/team/carol-br-1.png" alt="Neil avatar"> 
                                                                <h3 class="h6 small ms-2 mb-0"> {{ item.post.author }} </h3>
                                                            </div>
                                                            <p class="mb-0">
                                                                {{ item.post.summary }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                                </div>
                                                </li>
                                                <li class="glide__slide">
                                                <div class="row">
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>
        </div>
    </section>

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            new Glide('.glide__slide', {
                autoplay: false,
                pauseOnLoad: true
            }).mount();
        });

        // here you should load content from an Ajax request and when it
        // loads you can disable the button from loading
        $('#loadOnClick').click(function() {
            $button = $(this);
            $loadContent = $('#extraContent');
            $allLoaded = $('#allLoadedText');
            $button.addClass('btn-loading');
            $button.attr('disabled', true);

            setTimeout(function() {
                $loadContent.show();
                $button.hide();
                $allLoaded.show();
            }, 1500);
        });
    </script>

{% endblock javascripts %}
