{% extends "layouts/base.html" %}

{% block title %} Exploration {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header bg-primary-app text-dark pb-md-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-2 mb-4">Hub <span class="text-secondary-app fw-bold">Mining Commodities.</span>
                    </h1>
                    <p class="lead text-gray mb-1">Welcome to the Mining Commodities Hub, your comprehensive resource for everything related to the dynamic 
                        world of mining and mineral commodities. Whether you're a seasoned industry professional, an investor looking to diversify your portfolio, 
                        or someone simply curious about the vital role these resources play in our daily lives, our website is your go-to destination.
                    </p>                                        
                    <div class="d-flex flex-wrap mt-4 mt-lg-5"></div>
                    <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="organic-radius img-fluid" src="https://bafybeicjz4jksjlcsp2bpk2bezajc4fbsn4tyhjo7zxryhd5fbqlsmsdg4.ipfs.w3s.link/truck.png" alt="Mobile App Mockup">
                </div>
            </div>
        </div>
    </section>    
    <!-- Section -->
    <section class="section section-md">
        <div class="container">            
            <div class="row align-items-center justify-content-between text-center text-md-left">
                <div class="col-md-4 mb-4 mb-lg-0">
                    <h2 class="display-2 fw-light">Market <span class="fw-bold">Insights</span></h2>
                </div>
                <div class="col-md-8 col-lg-6">
                    <p class="lead mb-0">Stay ahead of the curve with real-time updates on market trends, prices, and forecasts for a wide range of minerals and commodities. 
                        Our expert analysis and data-driven reports will help you make informed decisions.
                    </p>
                </div>
            </div>
            <div class="row mt-5 mt-lg-7">
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeic6ztc7vc7zpkxs2hhizuo4jpkx2xhy5lps33zpnkqnjzgtvop36y.ipfs.w3s.link/cobalto.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>                                
                            </div>                                    
                            <h3 class="h5 card-title mt-4">Cobalt ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeiewbjneajqom5sdbqr7sif4qtdbtpezuszicf3yq3q7ot24pzfbra.ipfs.w3s.link/uranium.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>                                
                            </div> 
                            <h3 class="h5 card-title mt-4">Uranium ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                 
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeiba4gwgwnbwqezriunmin2zuwbjjdt3qcjznxcadwes2b3akut4cy.ipfs.w3s.link/terras.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Rare earth ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                            
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                              
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeiaqyb4vpqlv4r42pxbmy6xw2coqqfsv5txo57etcffrvsm2a2f72m.ipfs.w3s.link/ouro.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Gold ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeifddmof3lydhejrbxkcvwrrl2lczeybb24sbh2uzxcwtbrvc3b4ny.ipfs.w3s.link/paladio.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Palladium ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                    
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeid6vswh3ukc73ahvnbazx43ptl3zwn3cmpuvohvr36niinxg5spd4.ipfs.w3s.link/prata.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Silver ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                             
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeig56r2j4jkqbsnlhee7zdgwje3456fg7wjj5hrvxpjlwbvfox6eqm.ipfs.w3s.link/cobre.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Copper ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                     
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeidvmks4pagecgvmdvhorw5pmxx2rnvact6mgihuzxz26f35nyy6wq.ipfs.w3s.link/zinco.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Zinc ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4"></div>
                <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card border-gray-300">
                        <img src="https://bafybeifmgylx4voplrep2z6ajc5lttxdzodzildkk3syabl6hltgcmlyre.ipfs.w3s.link/ferro.png" class="card-img-top rounded-top" alt="Bonnie office">
                        <div class="card-body">
                            <div class="media d-flex align-items-center justify-content-between">
                                <div class="post-group">                                    
                                    <img class="avatar-sm me-2 img-fluid rounded-circle" src="https://bafybeidzgiozo52oppphdqx57h2lnjxqx2do3oqlzlk6yzshyhqa5iyzdu.ipfs.w3s.link/Bit.png" alt="Boonie avatar">                                    
                                </div>
                                <div class="small mt-2">                                                               
                                    <span class="fas fa-angle-up text-success"></span>                                   
                                    <span class="text-success fw-bold">18.2%</span>                                
                                </div>
                            </div> 
                            <h3 class="h5 card-title mt-4">Iron ore.</h3>
                            <div class="d-flex align-items-center">
                                <span class="small"><span class="far fa-calendar-alt me-2"></span>2/10/23</span>
                            </div>                      
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="h5 mb-0 text-gray">$ 299.00</span>                                
                                <a class="btn btn-xs btn-tertiary" href="#">
                                    <span class="fas fa-cart-plus me-2"></span> Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </section>       
    <div class="section bg-primary-app">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-lg-6">
                    <span class="h5 text-muted mb-2 d-block">Digital world The Power of the Web3</span>
                    <h2 class="display-3 mb-4">Why Choose Mining Commodities Hub?</h2>
                    <p class="lead text-muted">Join us on this exciting journey as we unearth the riches, challenges, and innovations of the mining industry. 
                        Together, we'll delve into the earth's depths and discover the valuable resources that power our lives and shape our future.
                        Start your exploration today and become a part of the community. 
                    </p>
                    <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
                        <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>                       
                    </div>
                </div>
                <div class="col-12 col-lg-4 ms-lg-auto">
                    <img class="d-none d-lg-inline-block" src="https://bafybeiepou7ztylcxhnzg4n7uf3pdma7wqhdlr6hviflw6j5pv32l3mbx4.ipfs.w3s.link/minerador.png" alt="Servidor Illustration">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
