{% extends "layouts/base.html" %}

{% block title %} Exploration {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header bg-primary-app text-dark pb-md-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-2 mb-4">Mining Commodities <span class="text-secondary-app fw-bold">Hub.</span>
                    </h1>
                    <p class="lead text-gray mb-1">Welcome to the Mining Commodities Hub, your comprehensive resource for everything related to the dynamic 
                        world of mining and mineral commodities. Whether you're a seasoned industry professional, an investor looking to diversify your portfolio, 
                        or someone simply curious about the vital role these resources play in our daily lives, our website is your go-to destination.
                    </p>                                        
                    <div class="d-flex flex-wrap mt-4 mt-lg-5"></div>
                    <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="organic-radius img-fluid" src="https://bafybeiep36f2xuv7xcs35lavteagnykblfdrkjeivqx2hozmgdtyeay3si.ipfs.w3s.link/caminh%C3%A3o.svg" alt="Mobile App Mockup">
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
                    <h2 class="display-3 mb-4">Market Insights:</h2>
                    <p class="lead">Stay ahead of the curve with real-time updates on market trends, prices, and forecasts for a wide range of minerals and commodities. 
                        Our expert analysis and data-driven reports will help you make informed decisions.

                    </p>
                </div>
            </div>            
        </div>
    </section>    
    <section class="section section-lg line-bottom-light">
        <div class="container mt-n10 mt-lg-n12 z-2">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeieybywp5xhdot6svanlqjaf2ocm3pssf7muxgx3d7xy3bwjf32wka.ipfs.w3s.link/cobalto.svg" class="card-img-top rounded" alt="designer office">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">cobalt ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>                            
                        </div>
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeidqtmhgyni6qqbnua5suaax4uyeog5zpmly6mtmmyab4uukapkcai.ipfs.w3s.link/uranium.svg" class="card-img-top rounded" alt="white laptop">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">uranium ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300 p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeifxdrrk4wjo5ajnoofscv4aptz7fiprrd3nnwylnxs6wdtxzlsulm.ipfs.w3s.link/terras.svg" class="card-img-top rounded" alt="photoshop books">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">rare earth ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeicwydcabarpn6jao6uj76qkhir7pfeuk6lvzj2cx7k5l5gnz5nb6u.ipfs.w3s.link/ouro.svg" class="card-img-top rounded" alt="our desk">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">gold ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeicisegm2o5vdtmgmui4qtpca5e22j44i2eaf5wbuaxd3nhefyn3vq.ipfs.w3s.link/paladio.svg" class="card-img-top rounded" alt="web desk">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">palladium ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeieyodbtchtonuuy65wiyxvtqh632xflu55hxk5o3krszysz2e6uyi.ipfs.w3s.link/prata.png" class="card-img-top rounded" alt="pixel room">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">silver ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeiatety5vutxlzsfghxbyjjucy3olbyh4ehzgo4ylz4ce6yljt7nsy.ipfs.w3s.link/ferro.svg" class="card-img-top rounded" alt="designer office">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">iron ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300  p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeib4kyy2hbfolvs27pdj3fu65v6rjycl4ipcasb43kqv5i6d3bd5vi.ipfs.w3s.link/cobre.svg" class="card-img-top rounded" alt="white laptop">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">copper ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
                    <div class="card shadow bg-white border-gray-300 p-4 rounded">
                        <a href="/blog_post.html">
                            <img src="https://bafybeigaa7s7cgl4unzxj3tfaupljkgufrs4rxnuo33auxfx6ptevlppzm.ipfs.w3s.link/zinco.svg" class="card-img-top rounded" alt="photoshop books">
                        </a>
                        <div class="card-body p-0 pt-4">
                            <a href="/blog_post.html" class="h4">zinc ore.</a>
                            <div class="d-flex align-items-center my-3">
                                <img class="avatar avatar-sm rounded-circle" src="{{ ASSETS_ROOT }}/img/brand/logo-dark.svg" alt="James avatar"> 
                                <h3 class="h6 small ms-2 mb-0">Author Name</h3>
                            </div>
                            <p class="mb-0">Card content goes here.</p>
                        </div>
                    </div>
                </div>                                           
            </div>
        </div>
    </section>   
    <div class="section bg-primary-app">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-lg-6">
                    <span class="h5 text-muted mb-2 d-block">Digital world The Power of the Web3</span>
                    <h2 class="display-3 mb-4">Why Choose Mining Commodities Hub?</h2>
                    <p class="lead text-muted">Join us on this exciting journey as we unearth the riches, challenges, and innovations of the mining industry. 
                        Together, we'll delve into the earth's depths and discover the valuable resources that power our lives and shape our future.
                        Start your exploration today and become a part of the community. 
                    </p>
                    <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
                        <a class="btn btn-tertiary" href="#">Find Our Works <span class="fas fa-angle-right ms-2"></span></a>                       
                    </div>
                </div>
                <div class="col-12 col-lg-5 ms-lg-auto">
                    <img class="d-none d-lg-inline-block" src="https://bafybeigxipeczxke32yxlrooqbxlx4vrsyjutpwkfbjc4gxcezmtembdra.ipfs.w3s.link/minerador.svg" alt="Servidor Illustration">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
