{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header bg-primary-app text-dark pb-md-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-2 mb-4">Welcome  <span class="text-secondary-app fw-bold">To the digital world.</span>
                    </h1>
                    <p class="lead text-gray mb-1">Engage in worldwide digital inclusion by joining a network composed of the most influential figures of our generation. 
                        Together, we are reshaping the dynamics of human interaction and fundamentally transforming the business transaction paradigm. 
                        Connect with individuals across the globe, seamlessly exchanging messages, photos, and calls, all while ensuring swift and secure negotiations, 
                        from any corner of the planet.
                    </p>                    
                    <div class="d-flex flex-wrap mt-4 mt-lg-5">                        
                    </div>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="d-none d-md-inline-block" src="https://bafybeigcunlm2coaqz6mgssbbyaxdef2r26vni4zamdj67blr3dagvrj2e.ipfs.w3s.link/mundo_btc.png" alt="Mobile App Mockup">
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg py-sm-3">  <!-- Reduced top padding for better screen usage -->
        <div class="container z-2 mt-sm-n6 mt-md-n7">     
            <div class="card bg-primary shadow border-gray-300">                    
                <div class="card-body p-4 p-lg-3">  <!-- Consistent padding -->                  
                    <div class="card bg-white shadow border-gray-300">
                        <div class="card-body p-4 p-lg-5">  <!-- Consistent padding -->
                            <div class="glide-clients">
                                <div data-glide-el="track" class="glide__track">
                                <ul class="glide__slides">
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeibjauffrsy5633fcrgnqgkxzoabwe2zkphtf2a7473sjacw5bt5c4.ipfs.w3s.link/Binance.svg" alt="paypal logo">
                                                                
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeicwskpft5pga2yohomthqrql47ump3fjq5rjqgu4vhrq5tif3nkeq.ipfs.w3s.link/Bitcoin.svg" alt="Bitcoin BTC logo">                            
                                                                
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeifivlmoljx6od7fkbogjav5zrqoyyicjlxhs4clm5yzvhxaxbuzci.ipfs.w3s.link/Ethereum.svg" alt="forbes logo">
                                        
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeicas63lhrjcndaol7epuq5lswd5wtdrihkrbd6ugmafyqmoef3qti.ipfs.w3s.link/Solana.svg" alt="elastic logo">
                                        
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeibpenm3tvo66cmkqt46l5nb5ejixltocjupvra7uvtyzy7gathaui.ipfs.w3s.link/Polygon.svg" alt="docker logo">
                                        
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeiddxapnsesc53xvwh4gbb6wcsolw4jju4b3b56yja44mdw6ciu23m.ipfs.w3s.link/Polkadot.svg" alt="forbes logo">
                                        
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeibu7useuuv22lzty5jfhjnxk66tjtgyfc5gugbbr5dymk4wtzbbaq.ipfs.w3s.link/web3.svg" alt="forbes logo">
                                    </li>
                                    <li class="glide__slide text-center">
                                        <img class="img-fluid image-sm" src="https://bafybeiajkl3frzwsi3a2mbpxnfzdtwd44shwsiakwiaknkql4s2toiruna.ipfs.w3s.link/ipfs.svg" alt="forbes logo">
                                    </li>
                                </ul>                    
                            </div>
                        </div>
                    </div>                                        
                </div>             
            </div>                         
        </div>
    </section>
    <section class="section section-md">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">Unlocking Tomorrow's Digital Frontier</h2>
                    <p class="lead px-5 px-lg-7">Experience a World of Innovation where A.I.-Empowered Code, Next-Gen Technologies, 
                        Cutting-Edge Design, Blockchain Security, Web3 Assurance, and Mobile App Compatibility Redefine Your Digital Odyssey.</p>
                </div>
            </div>
            <!--End of Title-->
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                <span class="fas fa-coins"></span>
                            </div>
                            <h3 class="h4 my-3">Blockchain Storage</h3>
                            <p class="fw-normal text-muted"></p>
                        </div>
                    </a>             
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                <span class="fas fa-shield-alt"></span>
                            </div>
                            <h3 class="h4 my-3">Protected By Web3</h3>
                            <p class="fw-normal text-muted"></p>                    
                        </div>
                    </a>            
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape bg-secondary text-white rounded-circle">
                                <span class="fab fa-android"></span>
                            </div>
                            <h3 class="h4 my-3">Compatible with Mobile Apps</h3>
                            <p class="fw-normal text-muted"></p>
                        </div>
                    </a>        
                </div>
            </div>
            <div class="mb-4"></div>                         
            <div class="col-12 mb-4">
                <div class="card bg-primary-app shadow border-gray-300">
                    <div class="card-body p-4 p-lg-5">                                                                                
                        <div class="row align-items-center justify-content-around">
                            <div class="col-md-6 col-lg-3 mb-5">
                                <img class="img-fluid d-none d-md-block" src="https://bafybeifztqrnj76s3qdiapkfd2h6rf2qdnwszsftxexrvgqqfkjmljv47e.ipfs.w3s.link/iphone.png" alt="Phone mockup">
                            </div>
                            <div class="col-md-6 col-lg-7">
                                <!-- Icon Box -->
                                <div class="card border-0 mb-2">
                                    <div class="card-body">
                                        <div class="d-flex p-2">
                                            <div>
                                                <div class="icon icon-secondary">
                                                    <span class="far fa-hand-pointer"></span>
                                                </div>
                                            </div>
                                            <div class="ps-4">
                                                <h3 class="h5 icon-box-title">Powerful Code Revised with A.I.</h3>
                                                <p class="icon-box-text">Unleash the untapped potential: Our code, meticulously crafted with precision, is elevated to new heights through the seamless fusion of cutting-edge A.I. algorithms.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Icon Box -->
                                <!-- Icon Box -->
                                <div class="card border-0 mb-2">
                                    <div class="card-body">
                                        <div class="d-flex p-2">
                                            <div>
                                                <div class="icon icon-secondary">
                                                    <span class="fas fa-fingerprint"></span>
                                                </div>
                                            </div>
                                            <div class="ps-4">
                                                <h3 class="h5 icon-box-title">New technologies</h3>
                                                <p class="icon-box-text">Innovating Beyond Horizons: Where Emerging Technologies Reshape Today's Digital Landscape.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Icon Box -->
                                <!-- Icon Box -->
                                <div class="card border-0 mb-2">
                                    <div class="card-body">
                                        <div class="d-flex p-3">
                                            <div>
                                                <div class="icon icon-secondary">
                                                    <span class="far fa-grin-stars"></span>
                                                </div>
                                            </div>
                                            <div class="ps-4">
                                                <h3 class="h5 icon-box-title">Modern UX/UI Design</h3>
                                                <p class="icon-box-text">Elevating Digital Aesthetics: Redefining Elegance through Mastery of Modern UX/UI Design.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Icon Box -->
                            </div>
                        </div>                    
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section class="section section-sm py-0">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">Your Gateway to Leading Blockchains and Dapps</h2>
                    <p class="lead px-5 px-lg-7">Unleash the Power of Blockchain and Dapps Elevating Your Digital World with Unprecedented Interoperability and Innovation.</p>
                </div>
            </div>
            <!--End of Title-->            
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <!-- Card -->
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                <span class="fas fa-clipboard-list"></span>
                            </div>
                            <h6 class="text-gray mb-0">Requirements</h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <!-- Card -->
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                <span class="fas fa-receipt"></span>
                            </div>
                            <h6 class="text-gray mb-0">Licensing</h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <!-- Card -->
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                <span class="fas fa-code-branch"></span>
                            </div>
                            <h6 class="text-gray mb-0">Integration</h6>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Card -->
                    <a href="#" class="card shadow text-center border-gray-300 animate-up-3">
                        <div class="card-body p-5">
                            <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                                <span class="fab fa-cloudversify"></span>
                            </div>
                            <h6 class="text-gray mb-0">Cloud Storage</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-lg-6 mb-4 mb-lg-6">                                        
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                                        
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeigc6cixgbxfvrfb7zfjjhhs5kzvlrjeojv4uelao2l52fcmftrqiq.ipfs.w3s.link/3.png" alt="Modern desk"></div>                     
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeihqf57dwp76u5clugp5gzremkxd2ybrbuyacw3k3amwbjrucaopi4.ipfs.w3s.link/4.png" alt="Themesberg building"></div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeie5gjfuuer6og64hxept4mej7v7aqepabwadcsao7lume3pmlpfca.ipfs.w3s.link/5.png" alt="Pancakeswap"></div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeicsfmgzqopzsrg4kiagla6u4cvujsmsyncaxxz7flpi53p7epdl2i.ipfs.w3s.link/6.png" alt="Modern desk"></div> 
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeiewlhgwobj7dr6eizqdtkfbsynafimojbuqpicjj4slextlklbg6y.ipfs.w3s.link/7.png" alt="Pancakeswap"></div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-4 mb-lg-0">                    
                    <div class="col-md-12 ps-2"><img class="rounded img-fluid mb-2 animate-up-3" src="https://bafybeifuz5u4xvfno5q4lotsooidx6qhjmyjokjy34mihnsr4bpmrdx2aa.ipfs.w3s.link/8.png" alt="Uniswap"></div>
                </div>                                                        
            </div>                       
        </div>
    </section>
    <section class="section section-sm py-0">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">Open Positions</h2>
                    <p class="lead px-5 px-lg-7">We are always looking for creative, talented self-starters to join the Front family. Check out our open positions and fill out an application.</p>
                </div>
            </div>
            <!--End of Title-->                                            
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card shadow text-start p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                        <div class="d-flex px-1 px-md-3">
                            <div>
                                <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                            </div>
                            <div class="ps-2 ps-md-3">
                                <h3 class="h5">100% Satisfaction</h3>
                                <p>Our Application Redefines User Satisfaction through User-Friendly Features and Intuitive Services.</p>                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card shadow text-end p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                        <div class="d-flex px-1 px-md-3">
                            <div class="me-2 me-md-4">
                                <h3 class="h5">100% Digital Inclusion</h3>
                                <p>Access for All: Where Digital Inclusion and User-Friendly Services Come Together, Enabling Everyone to Participate in the Digital Revolution.</p>                                
                            </div>
                            <div>
                                <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>            
        </div>
    </section>
    <section class="section section-md">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 mb-3">Open Positions</h2>
                    <p class="lead px-5 px-lg-7">We are always looking for creative, talented self-starters to join the Front family. Check out our open positions and fill out an application.</p>
                </div>
            </div>
            <!--End of Title-->     
            <div class="section pt-0">
                <div class="container">            
                    <div class="row mt-lg-6 mb-4 mb-lg-6">
                        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card border-gray-300">
                                <div class="card shadow">
                                    <a href="#"><img src="{{ ASSETS_ROOT }}/img/pages/home/imagens/defi.svg" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                    <div class="card-body">                                
                                        <h2 class="h5">
                                            <a href="#">DeFi</a>
                                        </h2>
                                        <p class="card-text my-2">Decentralized Finance</p>
                                    </div>
                                    <div class="card-footer bg-white border-0 px-0 py-0">
                                        <div class="d-grid">
                                            <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/defi">
                                                <span class="fas fa-book-open me-1"></span> Read More
                                            </a>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card border-gray-300 mt-lg-n6">
                                <div class="card shadow">
                                    <a href="#"><img src="{{ ASSETS_ROOT }}/img/pages/home/imagens/nft.svg" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                    <div class="card-body">                                
                                        <h2 class="h5">
                                            <a href="#">NFT</a>
                                        </h2>
                                        <p class="card-text my-2">Non-Fungible Token</p>
                                    </div>
                                    <div class="card-footer bg-white border-0 px-0 py-0">
                                        <div class="d-grid">
                                            <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/nft">
                                                <span class="fas fa-book-open me-1"></span> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                            <div class="card border-gray-300">
                                <div class="card shadow">
                                    <a href="#"><img src="{{ ASSETS_ROOT }}/img/pages/home/imagens/socialfi.svg" class="card-img-top rounded-top" alt="Themesberg office"></a>
                                    <div class="card-body">                                
                                        <h2 class="h5">
                                            <a href="#">SocialFi Network</a>
                                        </h2>
                                        <p class="card-text my-2">Decentralized Social Network</p>
                                    </div>
                                    <div class="card-footer bg-white border-0 px-0 py-0">
                                        <div class="d-grid">
                                            <a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" href="https://app.gitbook.com/o/FA0QF4g5EkGurQHnzzSB/s/AZBuwLW96kR2wLHiWpi0/products/socialfi-network">
                                                <span class="fas fa-book-open me-1"></span> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>                
                </div>
            </div>                                            
        </div>
    </section>       
    <div class="section bg-primary-app">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-lg-6">
                    <span class="h5 text-muted mb-2 d-block">The Power of the Web3</span>
                    <h2 class="display-3 mb-4">Start utilizing our app within seconds</h2>
                    <p class="lead text-muted">Establishing fast connections with servers around the world use our Web3 tools and services with maximum security, 
                        privacy and compatibility with the main Blockchains. Monitor, measure and improve service performance while effortlessly expanding your 
                        product's reach worldwide with a single click. 
                    </p>
                    <div class="d-sm-flex flex-wrap mt-4 mt-lg-5">
                        <div>                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 ms-lg-auto">
                    <img class="d-none d-lg-inline-block" src="{{ ASSETS_ROOT }}/img/pages/home/imagens/btc-serve.svg" alt="Servidor Illustration">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
