{% extends "layouts/base.html" %}

{% block title %} Power generation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header bg-primary-app text-dark pb-md-10">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6">
                    <h1 class="display-2 mb-4">Mini Hydroelectric <span class="text-secondary-app fw-bold">Sustainability.</span>
                    </h1>
                    <p class="lead text-gray mb-1">the solution for the use of watercourses, which were previously unused, Resilient, cost-efficient hydroelectric turbines designed to power businesses, 
                        communities and inject energy into the grid.
                    </p>                                       
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img class="d-none d-md-inline-block" src="{{ ASSETS_ROOT }}/img/pages/energy/imagens/modulo.svg" alt="Mobile App Mockup">
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
                    <h2 class="display-3 mb-4">Customers love it</h2>
                    <p class="lead">The final result of our formula at work. Check out what our clients <br class="d-none d-lg-inline-block"> have to say about our mobile app and our support team.</p>
                </div>
            </div>
            <div class="row mt-lg-6 mb-4 mb-lg-6">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-gray-300">
                        <div class="card-body text-center py-5">
                            <video class="page-video" controls>
                                <source src="{{ ASSETS_ROOT }}/videos/your-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <span class="d-block">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star far fa-star text-warning"></span>
                            </span>
                            <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                            <a href="#" class="btn btn-link text-black">
                                <span class="me-2"><span class="fas fa-book-open"></span></span> 
                                <span class="fw-bold">Read story</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-gray-300 mt-lg-n6">
                        <div class="card-body text-center py-5">
                            <video class="page-video" controls>
                                <source src="{{ ASSETS_ROOT }}/videos/your-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <span class="d-block">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star far fa-star text-warning"></span>
                            </span>
                            <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                            <a href="#" class="btn btn-link text-black">
                                <span class="me-2"><span class="fas fa-book-open"></span></span> 
                                <span class="fw-bold">Read story</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card border-gray-300">
                        <div class="card-body text-center py-5">
                            <video class="page-video" controls>
                                <source src="{{ ASSETS_ROOT }}/videos/your-video.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <span class="d-block">
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star fas fa-star text-warning"></span>
                                <span class="star far fa-star text-warning"></span>
                            </span>
                            <p class="px-2 my-4">Pixel has replaced the whiteboard for us! Being able to jump in the same file with someone fills the gap of not being able to gather in person.</p>
                            <a href="#" class="btn btn-link text-black">
                                <span class="me-2"><span class="fas fa-book-open"></span></span> 
                                <span class="fw-bold">Read story</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section section-sm py-0">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col">
                    <h2 class="lead">Our technology was designed with the collaboration 
                        of several Universities and recognized by MIT for its promising innovations.

                    </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col d-flex justify-content-center flex-wrap">
                    
                    <a href="#" aria-label="Stripe brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Stripe">
                        <img src="https://static.wixstatic.com/media/2279fb_a93904be16084ea6b637ef2f16715b19~mv2.png/v1/fill/w_155,h_58,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/kuleuven_logo-RS.png" alt="External Image" alt="External Image">                                       
                    </a>
                    <a href="#" aria-label="Digg brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Digg">
                        <img src="https://static.wixstatic.com/media/2279fb_011501a8b4924810a971b877c8ceb9dd~mv2.png/v1/fill/w_171,h_50,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/groept-RS.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="FedEx brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="FedEx">
                        <img src="https://static.wixstatic.com/media/2279fb_02c605f9d9b24f68b9e5f35141a88db6~mv2.png/v1/fill/w_109,h_56,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/MIT-RS.png" alt="External Image" alt="External Image"> 
                    </a>                    
                    <a href="#" aria-label="Beyond brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Beyond">
                        <img src="https://static.wixstatic.com/media/2279fb_f4e8b64ba9a048a9999c509d4a956874~mv2.png/v1/fill/w_176,h_54,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/vito_logo-RS.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="Ember brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Ember">
                        <img src="https://static.wixstatic.com/media/2279fb_404d1d242712475084b05522db571647~mv2.png/v1/fill/w_124,h_35,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/IMEC.png" alt="External Image" alt="External Image"> 
                    </a>             
                    <a href="#" aria-label="Ember brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Ember">
                        <img src="https://static.wixstatic.com/media/2279fb_ccf4b22f42254fb3a93110c028a21db0~mv2.png/v1/fill/w_199,h_79,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Vlaanderen_verbeelding_werkt-RS.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="Ember brand logo" class="icon icon-xl me-4 me-lg-5"
                    data-bs-toggle="tooltip" data-placement="top" title="Ember">
                        <img src="https://static.wixstatic.com/media/2279fb_a9563ad8d35344138282ba6ca3820ce3~mv2.png/v1/crop/x_0,y_0,w_300,h_117/fill/w_193,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/vlaio.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="AngryCreative brand logo" class="icon icon-xl"
                    data-bs-toggle="tooltip" data-placement="top" title="AngryCreative">
                        <img src="https://static.wixstatic.com/media/2279fb_3493c2520fe64800954dddeafe69d5d1~mv2.png/v1/crop/x_0,y_105,w_300,h_84/fill/w_206,h_60,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/interreg-logo.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="AngryCreative brand logo" class="icon icon-xl"
                    data-bs-toggle="tooltip" data-placement="top" title="AngryCreative">
                        <img src="https://static.wixstatic.com/media/2279fb_f92c1c50669443f888234400b9d2cdd1~mv2.png/v1/fill/w_215,h_44,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Autodesk_Logo.png" alt="External Image" alt="External Image"> 
                    </a> 
                    <a href="#" aria-label="AngryCreative brand logo" class="icon icon-xl"
                    data-bs-toggle="tooltip" data-placement="top" title="AngryCreative">
                        <img src="https://static.wixstatic.com/media/20e303_a66f338582fc49e1af93683aa8dede81~mv2.png/v1/crop/x_11,y_0,w_566,h_120/fill/w_483,h_104,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/co-funded-h2020-horiz_en.png" alt="External Image" alt="External Image"> 
                    </a>
                    <a href="#" aria-label="AngryCreative brand logo" class="icon icon-xl"
                    data-bs-toggle="tooltip" data-placement="top" title="AngryCreative">
                        <img src="https://static.wixstatic.com/media/e8b55a_30bed5eabb7d49d0a70151f46b55ba49~mv2.jpg/v1/fill/w_219,h_161,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/InnoEnergy_Support_Sign.jpg" alt="External Image" alt="External Image"> 
                    </a>
                </div>
            </div>
        </div>
    </div>    
    <div class="section section-lg">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-lg-6">    
                    <div class="d-flex flex-wrap justify-content-lg-start">
                        <h2 class="h3 text-center text-lg-left mb-5">power generation on another level</h2>
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="me-3 me-md-4">
                                    <div class="icon icon-md icon-secondary-app">
                                        <a href="#" target="_blank">                                            
                                            <img src="https://static.wixstatic.com/media/2279fb_5a41ffba807a48c2b2de456d8ff728d8~mv2.png/v1/fill/w_70,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/004-flood%20blue.png" alt="External Image" alt="External Image">
                                        </a>
                                    </div>                                    
                                </div>
                                <div>
                                    <h3 class="h4">NO FLOOD RISK</h3>
                                    <p>
                                        As our turbines work together with nature, 
                                        they do not obstruct the normal water flow, 
                                        eliminating flood risks altogether.                                            
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="me-3 me-md-4">
                                    <div class="icon icon-md icon-secondary-app">
                                        <a href="#" target="_blank">                                            
                                            <img src="https://static.wixstatic.com/media/2279fb_3cdd824e6bab4143a6c110a39b047470~mv2.png/v1/fill/w_70,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/003-fish%20blue.png" alt="External Image" alt="External Image">
                                        </a>
                                    </div>                                    
                                </div>
                                <div>
                                    <h3 class="h4">FISH FRIENDLY</h3>
                                    <p>
                                        A slow RPM impeller with a design that creates low shear stress. 
                                        The slow rate of pressure difference over the blade ensures that 
                                        this turbine lets all fish and aquatic life pass by unharmed.                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="d-flex">
                                <div class="me-3 me-md-4">
                                    <div class="icon icon-md icon-secondary-app">
                                        <a href="#" target="_blank">                                            
                                            <img src="https://static.wixstatic.com/media/2279fb_40b2aa205fcd4ba5b2a309db93d70c8c~mv2.png/v1/fill/w_70,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/005-tool%20blue.png" alt="External Image" alt="External Image">
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <h3 class="h4">LOW MAINTENANCE</h3>
                                    <p>
                                        Superb quality components made in the EU, 
                                        a trash rack for protection from large debris, 
                                        and only one moving component allows this turbine to produce 
                                        energy with hardly any maintenance cost.                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col-12 col-lg-5">
                    <img class="d-none d-lg-inline-block" src="{{ ASSETS_ROOT }}/img/pages/energy/imagens/sistema.svg" alt="Mobile App Illustration">
                </div>
            </div>
        </div>
    </div>    
    <div class="section bg-primary-app">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-lg-6">                    
                    <h2 class="display-3 mb-4">Underwater turbine from 15 to 70 kW</h2>
                    <p class="lead text-muted">A reliable and constant energy source 
                        (unlike intermittent energy sources like wind or solar)
                        Energy 24 hours, 365 days a year 
                    </p>                    
                </div>
                <div class="col-12 col-lg-5 ms-lg-auto">
                    <img class="d-none d-lg-inline-block" src="{{ ASSETS_ROOT }}/img/pages/energy/imagens/turbina.svg" alt="Mobile App Illustration">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
