{% extends "layouts/base.html" %}

{% block title %} Pricing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header pb-10 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-8 text-center">
                    <h1 class="display-2 fw-light mb-4">Our <span class="fw-bold">Pricing</span>
                    </h1>
                    <p class="lead">Like our products, our pricing isn’t one-size-fits-all. We calculate your personalized quote by looking at your specific needs.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <div class="section section-lg pt-0">
        <div class="container">
            <div class="row mt-n9">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow p-4">
                        <!-- Header -->
                        <div class="card-header border-bottom bg-white text-center">
                            <span class="d-block">
                                <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>49
                            </span>
                            <span class="text-gray font-small">/ month</span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">                            
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><span class="fas fa-award"></span> Verification stamp.</li>
                                <li class="list-item pb-3"><span class="far fa-user-circle me-2"></span> Featured profile.</li>
                                <li class="list-item pb-3"><span class="far fa-lightbulb"></span> Project Incubator.</li>
                                <li class="list-item pb-3"><span class="far fa-hdd"></span>  250 GB Storage.</li>                                
                                <li class="list-item pb-3"><span class="fas fa-store me-2"></span> Featured online store.</li>                                
                                <li class="list-item pb-3"><span class="far fa-comments me-2"></span> 24/48 Support.</li>
                            </ul>                           
                            <div class="d-grid">
                                <a href="#" class="btn btn-outline-primary animate-up-1">Buy Essential</a>
                            </div> 
                            </button>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow p-4">
                        <!-- Header -->
                        <div class="card-header border-bottom bg-white text-center">
                            <span class="d-block">
                                <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>99
                            </span>
                            <span class="text-gray font-small">/ month</span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><span class="fas fa-award"></span> Verification stamp.</li>
                                <li class="list-item pb-3"><span class="far fa-user-circle me-2"></span> Featured profile.</li>
                                <li class="list-item pb-3"><span class="far fa-lightbulb"></span> Project Incubator.</li>
                                <li class="list-item pb-3"><span class="far fa-hdd"></span>  500 GB Storage.</li>
                                <li class="list-item pb-3"><span class="fas fa-user-plus me-1"></span> +3 team members.</li>                     
                                <li class="list-item pb-3"><span class="fas fa-store me-2"></span> Featured online store.</li>
                                <li class="list-item pb-3"><span class="far fa-envelope"></span> Personalized E-mail.</li>
                                <li class="list-item pb-3"><span class="far fa-comments me-2"></span> 24/48 Support.</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-outline-tertiary animate-up-1">Buy Advanced</a>
                            </div>                            
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow p-4">
                        <!-- Header -->
                        <div class="card-header border-bottom bg-white text-center">
                            <span class="d-block">
                                <span class="display-1 text-primary fw-bold">
                                <span class="align-top font-medium">$</span>199
                            </span>
                            <span class="text-gray font-small">/ month</span>
                            </span>
                        </div>                        
                        <!-- End Header -->                        
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><span class="fas fa-award"></span> Verification stamp.</li>
                                <li class="list-item pb-3"><span class="far fa-user-circle me-2"></span> Featured profile.</li>
                                <li class="list-item pb-3"><span class="far fa-id-badge"></span>  VIP Access to events.</li>
                                <li class="list-item pb-3"><span class="far fa-lightbulb"></span> Project Incubator.</li>
                                <li class="list-item pb-3"><span class="far fa-hdd"></span>  1 TB Storage.</li>
                                <li class="list-item pb-3"><span class="fas fa-user-plus me-1"></span> +10 team members.</li>                                
                                <li class="list-item pb-3"><span class="fas fa-store me-2"></span> Featured online store.</li>
                                <li class="list-item pb-3"><span class="far fa-envelope"></span> Personalized E-mail.</li>                                
                                <li class="list-item pb-3"><span class="far fa-comments me-2"></span> 24/48 Support.</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-outline-primary animate-up-1">Buy Premium</a>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- End of Section -->
    <section class="section section-lg pt-0">
        <div class="container text-center">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2>What's in the box?</h2>
                    <p class="lead">Houndred of developers around the world have already made Pixel the main tool for building websites.</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-lg-4">
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="far fa-lightbulb"></span>
                        </div>
                        <h3 class="h5">Ideas and Concepts</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5 mb-lg-0">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="fas fa-fingerprint"></span>
                        </div>
                        <h3 class="h5">New technologies</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- Illustration -->
                    <img class="d-none d-lg-block" src="{{ ASSETS_ROOT }}/img/illustrations/excutivo.svg" alt="illustration">
                    <!-- / Illustration -->
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="fas fa-code"></span>
                        </div>
                        <h3 class="h5">Powerful code</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5 mb-lg-0">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="far fa-grin-stars"></span>
                        </div>
                        <h3 class="h5">Creative peoples</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container text-center">
            <div class="row mb-5">
                <div class="col">
                    <h2 class="h4 fw-light">Trusted by over <span class="fw-bold">500</span> of the world’s valuable brands</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-lx-10">
                    <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/airbnb.svg" alt="airbnb logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/paypal.svg" alt="paypal logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/corsair.svg" alt="corsair logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/google.svg" alt="google logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/elastic.svg" alt="elastic logo">

                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/forbes.svg" alt="forbes logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/pinterest.svg" alt="pinterest logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/docker.svg" alt="docker logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/university-of-chicago.svg" alt="university logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/business-school.svg" alt="business logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/ebay.svg" alt="ebay logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="{{ ASSETS_ROOT }}/img/clients/northwestern.svg" alt="northwestern logo">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-md bg-gray-200">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-8 mb-5">
                    <h2>Frequently asked questions</h2>
                    <p class="lead">Find the answer to your question.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!--Accordion-->
                    <div class="accordion bg-white rounded" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Premium Plan:
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <p>
                                    
                                        Unlock a realm of unparalleled possibilities with our Elite Advantage Premium Plan. Tailored for those who demand the very best, 
                                        this plan is designed to elevate your experience to new heights, offering a suite of exclusive features and benefits that redefine excellence.
                                    </p>
                                    <p>

                                        🌟 <strong>Verification Stamp:</strong> Gain the trust and recognition you deserve with our distinguished verification stamp, 
                                        showcasing your authenticity and credibility in the industry.
                                    </p>
                                    <p>
                                    
                                        🔝 <strong>Featured Profile:</strong> Take center stage with a prominently featured profile that ensures you stand out among the crowd. 
                                        Your profile will attract the attention it deserves, making connections and opportunities effortlessly come your way.
                                    </p>
                                    <p>
                                    
                                        🎟️ <strong>VIP Access to Events:</strong> Step into a world of elite networking with VIP access to exclusive events. Rub shoulders with industry leaders, 
                                        innovators, and influencers, opening doors to collaborations and partnerships that transcend boundaries.
                                    </p>
                                    <p>
                                    
                                        🚀 <strong>Project Incubator:</strong> Turn your visions into reality with our Project Incubator. Receive expert guidance, resources, 
                                        and mentorship to nurture your projects from conception to success, backed by a community that believes in your potential.
                                    </p>
                                    <p>
                                    
                                        💾 <strong>1 TB Storage:</strong> Embrace the power of limitless creativity and productivity with a generous 1 terabyte of storage space. 
                                        Safeguard your important files, projects, and memories without compromise.
                                    </p>
                                    <p>
                                    
                                        👥 <strong>+10 Team Members:</strong> Empower your team to thrive with the addition of 10 team members to your account. Collaborate seamlessly, 
                                        delegate tasks, and achieve milestones together, all under one comprehensive plan.
                                    </p>
                                    <p>
                                    
                                        🛍️ <strong>Featured Online Store:</strong> Showcase your products or services in style with a prominently featured online store. 
                                        Engage customers and drive sales with an attractive, user-friendly storefront that sets you apart.
                                    </p>
                                    <p>
                                    
                                        ✉️ <strong>Personalized Email:</strong> Establish a professional identity with a personalized email address that mirrors your brand. 
                                        Communicate with clients, partners, and prospects seamlessly, leaving a lasting impression.
                                    </p>
                                    <p>

                                        🕒 <strong>24/48 Support:</strong> Your success is our priority. Benefit from round-the-clock support, 
                                        ensuring your questions are answered and challenges are swiftly addressed.
                                    </p>                                          
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Advanced Plan:
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <p>
                                    
                                        Unlock a realm of unparalleled possibilities with our Elite Advantage Premium Plan. Tailored for those who demand the very best, 
                                        this plan is designed to elevate your experience to new heights, offering a suite of exclusive features and benefits that redefine excellence.
                                    </p>
                                    <p>

                                        🌟 <strong>Verification Stamp:</strong> Gain the trust and recognition you deserve with our distinguished verification stamp, 
                                        showcasing your authenticity and credibility in the industry.
                                    </p>
                                    <p>
                                    
                                        🔝 <strong>Featured Profile:</strong> Take center stage with a prominently featured profile that ensures you stand out among the crowd. 
                                        Your profile will attract the attention it deserves, making connections and opportunities effortlessly come your way.
                                    </p>                                    
                                    <p>
                                    
                                        🚀 <strong>Project Incubator:</strong> Turn your visions into reality with our Project Incubator. Receive expert guidance, resources, 
                                        and mentorship to nurture your projects from conception to success, backed by a community that believes in your potential.
                                    </p>
                                    <p>
                                    
                                        💾 <strong>500 GB Storage:</strong> Embrace the power of limitless creativity and productivity with a generous 1 terabyte of storage space. 
                                        Safeguard your important files, projects, and memories without compromise.
                                    </p>
                                    <p>
                                    
                                        👥 <strong>+3 Team Members:</strong> Empower your team to thrive with the addition of 10 team members to your account. Collaborate seamlessly, 
                                        delegate tasks, and achieve milestones together, all under one comprehensive plan.
                                    </p>
                                    <p>
                                    
                                        🛍️ <strong>Featured Online Store:</strong> Showcase your products or services in style with a prominently featured online store. 
                                        Engage customers and drive sales with an attractive, user-friendly storefront that sets you apart.
                                    </p>
                                    <p>
                                    
                                        ✉️ <strong>Personalized Email:</strong> Establish a professional identity with a personalized email address that mirrors your brand. 
                                        Communicate with clients, partners, and prospects seamlessly, leaving a lasting impression.
                                    </p>
                                    <p>

                                        🕒 <strong>24/48 Support:</strong> Your success is our priority. Benefit from round-the-clock support, 
                                        ensuring your questions are answered and challenges are swiftly addressed.
                                    </p>                                
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Essential Plan:
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <p>
                                    
                                        Unlock a realm of unparalleled possibilities with our Elite Advantage Premium Plan. Tailored for those who demand the very best, 
                                        this plan is designed to elevate your experience to new heights, offering a suite of exclusive features and benefits that redefine excellence.
                                    </p>
                                    <p>

                                        🌟 <strong>Verification Stamp:</strong> Gain the trust and recognition you deserve with our distinguished verification stamp, 
                                        showcasing your authenticity and credibility in the industry.
                                    </p>
                                    <p>
                                    
                                        🔝 <strong>Featured Profile:</strong> Take center stage with a prominently featured profile that ensures you stand out among the crowd. 
                                        Your profile will attract the attention it deserves, making connections and opportunities effortlessly come your way.
                                    </p>                                    
                                    <p>
                                    
                                        🚀 <strong>Project Incubator:</strong> Turn your visions into reality with our Project Incubator. Receive expert guidance, resources, 
                                        and mentorship to nurture your projects from conception to success, backed by a community that believes in your potential.
                                    </p>
                                    <p>
                                    
                                        💾 <strong>250 GB Storage:</strong> Embrace the power of limitless creativity and productivity with a generous 1 terabyte of storage space. 
                                        Safeguard your important files, projects, and memories without compromise.
                                    </p>                                    
                                    <p>
                                    
                                        🛍️ <strong>Featured Online Store:</strong> Showcase your products or services in style with a prominently featured online store. 
                                        Engage customers and drive sales with an attractive, user-friendly storefront that sets you apart.
                                    </p>                                    
                                    <p>

                                        🕒 <strong>24/48 Support:</strong> Your success is our priority. Benefit from round-the-clock support, 
                                        ensuring your questions are answered and challenges are swiftly addressed.
                                    </p>      
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Accordion-->
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
