{% extends "layouts/base.html" %}

{% block title %} Terms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header pb-9 pb-lg-12 mb-4 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-3">Statute</h1>
                    <p class="mb-0">Updated at 04th of July, 2023</p>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n7 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card border-gray-300 p-4 p-md-5">
                
                        <h2 class="mb-3">DENOMINAÇÃO:</h2>
                            <p>
                                Art.1° 
                             
                                ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL; 
                                doravante denominada “ASPPIBRA”.
                             
                            <p>                           
                        <h2 class="mb-3">SEDE:</h2>
                            <p>
                                Art.2°

                                A ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL, 
                                com sede e foro na cidade de Maricá, no Estado do Rio de Janeiro, não restringe sua atuação nem suas instalações ao estado do Rio de Janeiro, 
                                podendo atuar e abrir filiais em Todo território Nacional desde que preencha os requisitos de pleno funcionamento junto as autarquias estaduais.
                                
                            <p>                            
                        <h2 class="mb-3">NATUREZA E SEUS FINS:</h2>
                            <p> 
                                Art.3°

                                A ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL, 
                                é pessoa jurídica de direito privado, constituída na forma de sociedade civil, 
                                sem fins lucrativos, com autonomia administrativa e financeira, 
                                regendo-se pelo presente Estatuto e pela legislação que lhe for aplicável.
                             
                            <p>
                                Parágrafo único:

                                A ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL – possui personalidade jurídica própria, 
                                plena capacidade para se relacionar com terceiros e para exercer todas as atividades pertinentes à suas finalidades, 
                                inclusive administrativas, financeiras, judiciais e extrajudiciais, e firmar convênios com o Poder Público.
                                
                            <p>
                                
                                Cláusula primeira:
                                
                                A principal finalidade desta Associação é facilitar o acesso ao direito fundamental da propriedade privada, 
                                apresentando soluções aos casos de regularização fundiária e a titularização de imóveis urbanos e rurais no Brasil, 
                                utilizando a Mediação e conciliação através da Arbitragem Lei 9.307/96 aos conflitos fundiários, promover a inclusão digital, 
                                a Preservação do Meio Ambiente, e o acesso às informações no que diz respeito sobre suas propriedades.
                                
                            <p>
                                
                                O objeto social da ASPPIBRA, é garantir e ampliar o direito dos seus associados ao acesso ao solo urbano e rural, 
                                bem como o direito à exploração sustentável de seus recursos hídricos e minerais, E tem por finalidade institucional, 
                                a representação e defesa dos interesses dos seus associados nas esferas públicas e privadas, inclusive nas autarquias, 
                                no que diz respeito ao direito possessório.
                                
                            <P>
                                
                                Cláusula segunda:
                                
                                Para atender aos objetivos socioeconômicos, culturais, sociais e ambientais dos cidadãos, 
                                além de manter um projeto de orientação jurídica gratuita, a ASSOCIAÇÃO será representada por sua Diretoria, 
                                Conselho Fiscal e todos integrantes previamente autorizados.
                                
                            <p>
                                
                                I – defender o direito à propriedade privada, o direito de posse e o direito de uso de bens imóveis perante o Poder Público e o Poder Judiciário;
                                
                            <p>
                                
                                II – representar, institucionalmente, os seus associados perante o Poder Judiciário.
                                
                            <p>
                                
                                III – congregar os proprietários e possuidores de bens imóveis, urbanos e rurais, inclusive os condomínios, para fins de representação, 
                                defesa, orientação e promoção dos seus interesses;
                                
                            <p>
                                
                                IV – difundir a cultura da propriedade privada;
                                
                            <p>
                                
                                V – incentivar o acesso à propriedade urbana e rural;
                                
                            <p>
                                
                                VI – estimular a discussão de questões fundamentais relacionadas com a propriedade urbana e rural, inclusive a regularização fundiária, 
                                visando elevar o nível de conhecimento e a consciência pública acerca da importância da função social da propriedade;
                                
                            <p>
                                
                                VII – propor, elaborar e fomentar estudos, levantamentos e pesquisas concernentes à propriedade urbana e rural e às suas relações com o meio ambiente, 
                                o uso sustentável de seus recursos, a urbanização, a regularização fundiária e a política habitacional;
                                
                            <p>
                                
                                VIII – promover, realizar e manter programas de capacitação, instrutivos e de orientação profissional sobre questões relacionadas 
                                à propriedade urbana e rural e às suas relações com o meio ambiente;
                                
                            <p>
                                
                                IX – manter convênios ou parcerias com entidades de classe, associações civis, profissionais ou comunitárias, públicas ou privadas, 
                                nacionais ou estrangeiras, visando à consecução de seus objetivos sociais;
                                
                            <p>
                                
                                X – editar e publicar periódicos, manuais, documentos, estudos e pesquisas de caráter técnico ou científico, 
                                bem como livros e outras publicações, na área de sua competência;
                                
                            <p>
                                
                                XI – realizar, incentivar e apoiar, no âmbito de sua circunscrição territorial, convenções, congressos, seminários, simpósios, 
                                encontros, jornadas, palestras, exposições e outras atividades afins;
                                
                            <p>
                                
                                XII – administrar, fundos, criar e manter serviços, programas e atividades voltados à consecução dos objetivos estatutários;
                                
                            <p>
                                
                                XIII – manter relações de amizade e cooperação com entidades de caráter nacional ou internacional;
                                
                            <p>
                                
                                XIV – solicitar aos poderes públicos, em geral, e às autoridades competentes, em particular, 
                                a formulação e a execução de políticas públicas que visem à consecução dos objetivos sociais;
                                
                            <p>
                                
                                XV – praticar outras atividades compatíveis com a natureza e os fins da associação, que contribuam para o alcance de seus objetivos.
                                
                            <P>
                                
                                XVI – representar o produtor rural, o minerador e o proprietário de imóveis urbanos e rurais perante o poder público e os órgãos competentes;
                                
                            <p>
                                
                                XVII – prestar assessoria técnica, administrativa, jurídica e outras a seus associados fazendo uso da mediação e conciliação através da arbitragem;
                                
                            <p>
                                
                                XVIII – elaborar programas de incentivo as atividades de serviços ambientais e a exploração de recursos minerais, de forma sustentável, 
                                por estudos de caráter econômico, jurídico, técnico e ambiental;
                                
                            <p>
                                
                                XIX – viabilizar parcerias financeiras e estruturais para implementação de projetos na área de atuação do associado;
                                
                            <p>
                                
                                XX – apoiar a padronização da documentação referente as atividades mencionadas no Parágrafo único, 
                                a fim de facilitar o seu conhecimento por parte de todos, conferindo-lhe claridade, segurança e transparência tanto nas relações internas quanto nas externas;
                                
                            <p>
                                
                                XXI – elaborar estudos, propor e implementar soluções em resposta às demandas, necessidades e anseios dos associados quanto às suas atividades;
                                
                            <p>
                                
                                XXII – incentivar o acesso ao conhecimento e à disseminação de técnicas e processos inovadores por meio de campanhas educativas e de comunicação;
                                
                            <p>
                                
                                XXIII – apoiar a formação de mão-de-obra especializada, bem como a capacitação e aperfeiçoamento profissional de seus associados, 
                                objetivando a melhoria de sua produtividade e a ampliação de sua participação no mercado de trabalho;
                                
                            <p>
                                
                                XXIV – incentivar o uso sustentável dos recursos naturais, visando à conservação do meio ambiente;
                                
                            <p>
                                
                                XXV – apoiar a geração de emprego e a renda nas comunidades rurais;
                                
                            <p>
                                
                                XXVI – apoiar os pequenos produtores rurais, a fim de facilitar o seu acesso aos programas de crédito, com garantias reais, 
                                oferecidos pelo Banco Nacional de Desenvolvimento Econômico e Social – BNDES;
                                
                            <p>
                                
                                XXVII – apoiar a geração de energia elétrica a partir de fontes renováveis de energia, visando à sustentabilidade do meio ambiente.
                                
                            <p>
                                
                                DURAÇÃO:
                                
                                Art.4° A duração da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL será por tempo indeterminado.                                
                                                                
                            <p>                        
                        <h2 class="mb-3">CAPÍTULO II:</h2>
                            
                            <p>
                                Art.5° A ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL não possui patrimônio para declarar.
                                
                            <p>

                                Art.6° Em caso de extinção da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL, 
                                o patrimônio adquirido será dividido de forma igual a todos os associados em dia com suas obrigações junto a associação, 
                                conforme inciso VI, artigo 46 do Código Civil brasileiro.
                                
                            <p>
                                
                                Art. 7° Admitirão novos associados em concordância aos artigos do Estatuto e do Regime Interno, podendo os associados ser desligados 
                                quando não mais proceder em concordância aos artigos do Estatuto e do Regime Interno e sendo os associados excluídos se cometerem algum ato ilícito, 
                                sendo a admissão, demissão e exclusão estabelecidas em Assembleia Geral, conforme inciso II do artigo 54 do Código Civil brasileiro. 
                                Requisitos mínimos para se associar; inscrição feita pelo site ou em uma unidade de atendimento, que sejam pessoas idôneas, e tenha como objetivo os mesmos da associação, 
                                idade superior aos 18 anos que tenha capacidades físicas e biológicas de responder por suas escolhas e atitudes.
                                
                            <p>
                                
                                Art.8° Os associados têm o dever de estar em dia com suas mensalidades estabelecidas no Estatuto e Regimento Interno, 
                                e de se comportar conforme está previsto nos mesmos, e tem o direito de ser ouvido de votar e ser votado, 
                                conforme inciso III do art. 54 do Código Civil brasileiro.

                            <p>
                                
                                Art.9° Os recursos para manutenção da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL 
                                serão provenientes das mensalidades dos associados estabelecidas no Regime Interno, conforme inciso IV do art. 54 do Código Civil brasileiro.
                                
                            <p> 
                                Art. 10 Será admitido o direito de defesa e recurso do associado excluído por justa causa, conforme artigo 57 do Código Civil brasileiro.
                                
                            <p>
                        <h2 class="mb-3">CAPÍTULO III:</h2>
                            <p>
                                Art.11 A ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL tem como órgãos deliberativos e administrativos a Assembleia Geral, 
                                a Diretoria e o Conselho Fiscal.
                                
                            <p>

                                Art.12 A Assembleia Geral, órgão soberano da entidade, será constituída por todos os associados em pleno gozo de seus direitos estatutários.
                                
                            <p>
                                
                                Art.13 São atribuições da Assembleia Geral:
                                
                            <p>
                                
                                I – eleger os membros da Diretoria e do Conselho Fiscal e seus respectivos suplentes, como destituí-los;
                                
                            <p>
                                
                                II – elaborar e aprovar o Regimento Interno da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL;
                                
                            <p>
                                
                                III – deliberar sobre o orçamento anual e sobre o programa de trabalho elaborado pela Diretoria, 
                                ouvido previamente quanto aquele, o Conselho Fiscal;
                                
                            <p>
                                
                                IV- examinar o relatório da Diretoria e deliberar sobre o balanço e as contas, após parecer do Conselho Fiscal;
                                
                            <p>
                                
                                V – deliberar sobre a conveniência de aquisição, alienação ou oneração de bens pertencentes a Associação;
                                
                            <p>
                                
                                VI – decidir sobre a reforma do presente Estatuto;
                                
                            <p>
                                
                                VII – deliberar sobre proposta de absorção ou incorporação de outras entidades a Associação;
                                
                            <p>
                                
                                VIII – autorizar a celebração de convênios e acordos com entidades públicas ou privadas.
                                
                            <p>
                                
                                IX – decidir sobre a extinção - dissolução da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL 
                                e o destino do patrimônio;
                                
                            <p>
                                
                                Art.14 A Assembleia Geral se reunirá extraordinariamente quando convocada:
                                
                            <p>
                                
                                I – por seu Presidente;
                                
                            <p>
                                
                                II – pela Diretoria;
                                
                            <p>
                                
                                III – por 1/5 (um quinto) de seus membros associados;
                                
                            <p>
                                
                                Art.15 A convocação das reuniões ordinárias ou extraordinárias será feita mediante edital, 
                                com pauta dos assuntos a serem tratados; e será publicado nas redes sócias oficiais da ASPPIBRA 
                                e fixado na sede da entidade, com antecedência mínima de (30) dias, e por correspondência eletrônica 
                                (E-mail) pessoal aos integrantes dos órgãos de administração da associação.
                                
                            <p>
                                
                                I – As Reuniões ordinárias instalar-se-ão em primeira convocação, com a presença mínima de 2/3 (dois terços) 
                                dos integrantes da ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL e, em segunda convocação, 
                                30 (trinta) minutos após, com qualquer número de presentes.
                                
                            <p>
                                
                                II – As reuniões extraordinárias instalar-se-ão, em primeira convocação, com 2/3 (dois terços) dos integrantes da 
                                ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL, em segunda convocação, 
                                30(trinta) minutos após, com os membros associados presentes.
                                
                            <p>
                                
                                Art.16 A Diretoria é composta de:
                                
                            <p>
                                
                                I – Presidente
                                
                            <p>
                                
                                II- Vice-presidente
                                
                            <p>
                                
                                III – 1° Secretario
                                
                            <p>
                                
                                IV – 2° Secretario
                                
                            <p>
                                
                                V- 1° Tesoureiro
                                
                            <p>
                                
                                VI- 2° Tesoureiro
                                
                            <p>
                                
                                Parágrafo único: O mandado dos integrantes da Diretoria será por tempo indeterminado, 
                                ou enquanto durar a ASPPIBRA – ASSOCIAÇÃO DOS PROPRIETÁRIOS E POSSUIDORES DE IMÓVEIS NO BRASIL.
                                
                            <p>
                                
                                Art.17 Ocorrendo vaga em qualquer cargo de titular da Diretoria, a Assembleia Geral se reunirá no 
                                prazo máximo de trinta dias após a vacância, para eleger o novo integrante.
                                
                            <p>
                                
                                Art.18 Compete à Diretoria:
                                
                            <p>
                                
                                I – elaborar e executar o programa anual de atividades:
                                
                            <p>
                                
                                II – elaborar e apresentar a Assembleia Geral o relatório anual e o respectivo demonstrativo de resultados do exercício findo;
                                
                            <p>
                                
                                III – elaborar o orçamento da receita e despesas para o exercício seguinte;
                                
                            <p>
                                
                                IV – elaborar os regimentos internos da ASPPIBRA e de seus departamentos;
                                
                            <p>
                                
                                V – entrosar-se com instituições públicas e privadas, tanto no País como no exterior, 
                                para mútua colaboração em atividades de interesse comum.
                                
                            <p>
                                
                                Art.19 Compete ao Presidente:
                                
                            <p>
                                
                                I – representar a Associação judicial e extrajudicialmente, ativa e passivamente;
                                
                            <p>
                                
                                II – cumprir e fazer cumprir este Estatuto e os demais regimentos internos;
                                
                            <p>
                                
                                III – convocar e presidir as reuniões da Diretoria;
                                
                            <p>
                                
                                IV – dirigir e supervisionar todas as atividades da Associação;
                                
                            <p>
                                
                                V – assinar quaisquer documentos relativos às operações ativas da Associação;
                                
                            <p>
                                
                                Art.20 Compete ao Vice-Presidente:
                                
                            <p>
                                
                                I – Colaborar com o Presidente, e substituí-lo na sua ausência;
                                
                            <p>
                                
                                Art.21 Compete ao 1º e 2° Secretario: Secretariar as reuniões das Assembleias Gerais e da Diretoria e redigir atas;
                                
                            <p>
                                
                                II- manter organizada a secretaria, com os respectivos livros e correspondências;
                                
                            <p>
                                
                                Art.22 Compete ao 1º e 2° Tesoureiro:
                                
                            <p>
                                
                                I – Arrecadar e contabilizar as contribuições, rendas, auxílios e donativos efetuados a Associação, 
                                mantendo em dia a escrituração;
                                
                            <p>
                                
                                II – efetuar os pagamentos de todas as obrigações da Associação;
                                
                            <p>
                                
                                III – acompanhar e supervisionar os trabalhos de contabilidade da Associação, 
                                contratados com profissionais habilitados, cuidando para que todas as obrigações fiscais e trabalhistas 
                                sejam devidamente cumpridas em tempo hábil;
                                
                            <p>
                                
                                IV – apresentar relatórios de receitas e despesas, sempre que forem solicitadas;
                                
                            <p>
                                
                                V – apresentar o relatório financeiro para ser submetido à Assembleia Geral;
                                
                            <p>
                                
                                VI – apresentar semestralmente o balancete de receitas e despesas ao Conselho Fiscal;
                                
                            <p>
                                
                                VII – publicar anualmente a demonstração das receitas e despesas realizadas no exercício;
                                
                            <p>
                                
                                VIII – elaborar, com base no orçamento realizado no exercício, a proposta orçamentaria para o exercício 
                                seguinte a ser submetida a Diretoria, para posterior apreciação da Assembleia Geral;
                                
                            <p>
                                
                                IX – manter todo o numerário em estabelecimento de crédito;
                                
                            <p>
                                
                                X – conservar sob sua guarda e responsabilidade, todos os documentos relativos a tesouraria;
                                
                            <p>
                                
                                XI – assinar, em conjunto com o Presidente, todos os cheques emitidos pela Associação.
                                
                            <p>
                                
                                Art.23 O conselho fiscal será constituído por 6 (seis) pessoas de reconhecida idoneidade e seus respectivos suplentes, 
                                permitida apenas uma recondução.
                                
                            <p> 
                                Parágrafo único. O mandato do Conselho Fiscal será coincidente com o mandato da Diretoria.
                                
                            <p>
                                
                                Art.24 Ocorrendo vaga em qualquer cargo do titular do Conselho Fiscal, 
                                caberá ao respectivo suplente substituí-lo até o fim do mandato para qual foi eleito.
                                
                            <p>
                                
                                Art.25 Os suplentes do Conselho Fiscal deverão ser associados.
                                
                            <p>
                                
                                Art.26 Compete ao Conselho Fiscal:
                                
                            <p>
                                
                                I – examinar os documentos e livros de escrituração da entidade;
                                
                            <p>
                                
                                II – examinar o balancete semestral apresentado pelo tesoureiro, opinando a respeito;
                                
                            <p>
                                
                                III – apreciar os balanços e inventários que acompanham o relatório anual da Diretoria;
                                
                            <p>
                                
                                IV – opinar sobre a aquisição, alienação e oneração de bens pertencentes á Associação.
                                
                            <p>
                                
                                Parágrafo único: O conselho fiscal reunir-se-á a cada 6 (seis) meses e extraordinariamente, sempre que necessário.
                                
                            <p>
                        
                        <h2 class="mb-3">CAPÍTULO IV</h2>
                            <p>
                                DAS DISPOSIÇÕES GERAIS E TRANSITÓRIAS
                                
                            <p>

                                Art.27 Os associados e dirigentes, não respondem solidária nem subsidiariamente pelas obrigações da Entidade.
                                
                            <p>
                                
                                Art.28 ASPPIBRA é composta por número ilimitado de associados.
                                
                            <p>
                                
                                Art.29 Os cargos dos órgãos de administração da Associação não são remunerados, 
                                ficando expressamente vetado por parte de seus integrantes o recebimento de participação nos lucros, 
                                gratificação, bonificação ou vantagem. A exceção o fundo de desenvolvimento, ele é exclusivo para quem 
                                realizar doações com o único objetivo de financiar os projetos ambientais e tecnológicos, 
                                como forma de agradecimento receberá (NFTs e tokens) de validação da sua participação, garantindo o comprometimento 
                                e engajamento nas atividades acima mencionadas.
                                
                            <p>
                                
                                Art. 30 Os funcionários, que forem admitidos para prestarem serviços profissionais á Associação serão regidos pela Consolidação 
                                das Leis Trabalhistas.
                                
                            <p>
                                
                                Art.31 O quórum de aprovação será de 2/3 (dois terços) da Assembleia Geral, em reunião extraordinária, para as seguintes hipóteses:
                                
                            <p>
                                
                                I- Alteração do Estatuto;
                                
                            <p>
                                
                                II- Alienação de bens imóveis e gravação de ônus reais sobre os mesmos;
                                
                            <p>
                                
                                III- Extinção - dissolução da Associação
                                
                            <p>
                                
                                Art.32 O exercício financeiro da Associação coincidirá com o ano civil.
                                
                            <p>
                                
                                Art.33 Os associados se responsabilizarão com pagamento anualmente estipulado no Regimento Interno da Associação.
                                
                            <p>
                                
                                Art.34 Os casos omissos serão resolvidos pela Diretoria e referendados pela Assembleia Geral, 
                                ficando estabelecido que a ação será apreciada ou realizada através da Arbitragem Lei n° 9.307 de 1996 
                                e este Estatuto e Regimento Interno valerá como título executivo, para sanar possíveis dúvidas.
                            <p>  
                        <!-- Resolved -->
                        <div class="text-center border-top border-bottom border-gray-300 my-6 py-6">
                            <h4 class="h4 mb-5">
                                <span class="me-1"><i class="far fa-newspaper"></i></span>
                                Was this article helpful?
                            </h4>
                
                            <button type="button" class="btn btn-success mb-2 mx-1 animate-up-2 text-white"><span class="me-2"><i class="far fa-thumbs-up"></i></span>Yes, thanks!</button>
                            <button type="button" class="btn btn-danger mb-2 mx-1 animate-down-2"><span class="me-2"><i class="far fa-thumbs-down"></i></span>Not really</button>
                        </div>
                        <!-- End Resolved -->
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <!-- Related Articles -->
                                <div class="mb-4">
                                    <h3 class="h5 font-weight-medium">Related Articles</h3>
                                </div>
                        
                                <ul class="list-unstyled">
                                    <li class="pb-3"><a class="link-muted" href="#">Troubleshoot connection issues</a></li>
                                    <li class="pb-3"><a class="link-muted" href="#">Getting started for workspace creators</a></li>
                                    <li class="pb-3"><a class="link-muted" href="#">Edit your profile</a></li>
                                </ul>
                                <!-- End Related Articles -->
                            </div>
                            <div class="col-12 col-md-4">
                                <!-- Related Articles -->
                                <div class="mb-4">
                                    <h3 class="h5 font-weight-medium">Latest News</h3>
                                </div>
                        
                                <ul class="list-unstyled">
                                    <li class="pb-3"><a class="link-muted" href="#">Troubleshoot connection issues</a></li>
                                    <li class="pb-3"><a class="link-muted" href="#">Getting started for workspace creators</a></li>
                                    <li class="pb-3"><a class="link-muted" href="#">Edit your profile</a></li>
                                </ul>
                                <!-- End Related Articles -->
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-4">
                                    <h3 class="h5 font-weight-medium">Support</h3>
                                </div>
                                <p>
                                    Technical support for each product is given directly by the creators of Themesberg.                            
                                </p>
                                <a class="btn btn-sm btn-outline-primary" href="/page-support.html">
                                    Support Center
                                    <span class="fas fa-long-arrow-alt-right ms-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
