{% extends "layouts/base.html" %}

{% block title %} Team {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-2 text-white mb-3">Our team</h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n10 z-2">
            <div class="row mt-7">
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/carol-br-1.png" class="card-img-top rounded-circle border-0" alt="Ana Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Ana Amorim</h2>
                            <span class="card-subtitle text-gray fw-normal">CFO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://www.linkedin.com/in/carol-br/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ASPPIBRA_NEWS" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Carol-BR" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Finance Director and Co-Founder</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/sandro-rj-1.png" class="card-img-top rounded-circle border-0" alt="Sandro Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Sandro Antunes</h2>
                            <span class="card-subtitle text-gray fw-normal">CEO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://www.linkedin.com/in/sandro-rj/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ASPPIBRA_ORG" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/ASPPIBRA" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Executive Director and Co-Founder</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/carlos-1.png" class="card-img-top rounded-circle border-0" alt="Carlos Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Carlos Roberto</h2>
                            <span class="card-subtitle text-gray fw-normal">COO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="#" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Director of Operations</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/ygor-1.png" class="card-img-top rounded-circle border-0" alt="Ygor Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Ygor Nogueira</h2>
                            <span class="card-subtitle text-gray fw-normal">CLO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://www.linkedin.com/in/ygor-nogueira-87a189204/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Ygor-nogr" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Chief Legal Officer</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-md-0 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/andre-1.png" class="card-img-top rounded-circle border-0" alt="Andre Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Andre</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://www.linkedin.com/in/andreison-de-castro-509255256/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/andrezinMTbala" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/andreisonC" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">back end Developer</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/kazune-takeda.png" class="card-img-top rounded-circle border-0" alt="Jonathan Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Kazune Takeda</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="https://linkedin.com/in/kazunetakeda25" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/kazunetakeda25" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/kazunetakeda25" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>                                
                            </ul>
                            <p class="card-text my-2">Blockchain developer</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <section class="section section-lg pt-0"></section>    
    
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n10 z-2">
            <div class="row mt-7">
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/mauricio.png" class="card-img-top rounded-circle border-0" alt="Ana Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Mauricio Machado</h2>
                            <span class="card-subtitle text-gray fw-normal">DBA</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://www.linkedin.com/in/mauricio-braga-machado-a39959172/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/MauricioBMachado" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Database administrator</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/ceu.png" class="card-img-top rounded-circle border-0" alt="Sandro Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Zheng Shi</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                
                                <li>
                                    <a href="https://github.com/MetaFomos" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Blockchain developer</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="{{ ASSETS_ROOT }}/img/team/anime.png" class="card-img-top rounded-circle border-0" alt="Sandro Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Anime Lover</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">

                                <li>
                                    <a href="https://github.com/Anime1026" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>

                            </ul>
                            <p class="card-text my-2">Blockchain developer</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <section class="section section-lg bg-gray-200">
        <div class="container z-2">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="h1">Be part of our team?</h2>
                    <p class="lead py-4 text-gray">At ASPPIBRA-DAO, we strongly believe in the power of collaboration. 
                        We value our collaborators immensely as they play a vital role in driving the success and growth of our organization. 
                        Regardless of whether you are a seasoned professional or a passionate technology enthusiast, we extend a warm invitation to you to join ASPPIBRA-DAO as a member.
                    </p>
                    <a href="/careers.html" class="btn btn-lg btn-secondary animate-up-2">See job openings</a>
                </div>
            </div>
        </div>  
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
