{% extends "layouts/base.html" %}

{% block title %} Team {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-2 text-white mb-3">Our team</h1>
                    <p class="lead"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Hero -->
    
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n10 z-2">
            <div class="row mt-7">
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <!-- Header -->
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeiejwesoz2hllud454mw75efkibpcdfkd7z46ynibbqateet3tcx3e.ipfs.w3s.link/carol-amorim.svg" class="card-img-top rounded-circle border-0" alt="Ana Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Ana Amorim</h2>
                            <span class="card-subtitle text-gray fw-normal">CFO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://www.linkedin.com/in/carol-br/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ASPPIBRA_NEWS" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Carol-BR" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Finance Director and Co-Founder</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <!-- Header -->
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeienbpsmmqzbcsgeiot6is3jopn4ra4dakwrmnp2julhxdlndvfzhq.ipfs.w3s.link/sandro-antunes.svg" class="card-img-top rounded-circle border-0" alt="Sandro Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Sandro Antunes</h2>
                            <span class="card-subtitle text-gray fw-normal">CEO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://www.linkedin.com/in/sandro-rj/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/ASPPIBRA_ORG" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/ASPPIBRA" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Executive Director and Co-Founder</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                         <!-- Header -->
                         <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeiawpgif5m3xsph6m7gnto34uby3e4tibkwmxybq67ssnmkzdu5tmm.ipfs.w3s.link/ygor-nogueira.svg" class="card-img-top rounded-circle border-0" alt="Ygor Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Ygor Nogueira</h2>
                            <span class="card-subtitle text-gray fw-normal">CLO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://www.linkedin.com/in/ygor-nogueira-87a189204/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/Ygor-nogr" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Chief Legal Officer</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <!-- Header -->
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeigjwlkw5qu6jrgz6t457xlvjg7s54fg4iwj5ob5de4em2raz7msq4.ipfs.w3s.link/gustavo-novais.svg" class="card-img-top rounded-circle border-0" alt="Carlos Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Gustavo Novais</h2>
                            <span class="card-subtitle text-gray fw-normal">CCO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="#" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Chief Cloud Officer</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-md-0 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <!-- Header -->
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeif56znm3mdqiwk3ow66l3pl2ghc7hhf6ow3bwcayuwueyx5fefqxe.ipfs.w3s.link/andreison-castro.svg" class="card-img-top rounded-circle border-0" alt="Andre Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Andre</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://www.linkedin.com/in/andreison-de-castro-509255256/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/andrezinMTbala" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/andreisonC" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">back end Developer</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300 text-center">
                         <!-- Header -->
                         <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeic6ba5jhqapcvjjzvh3yh3v62k7qbf4v3tjuzuv7vtazaaimit3rq.ipfs.w3s.link/zheng-shi.svg" class="card-img-top rounded-circle border-0" alt="Sandro Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Zheng Shi</h2>
                            <span class="card-subtitle text-gray fw-normal">CIO</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://github.com/MetaFomos" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Chief Interface Officer</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <div style="height: 100px;"></div>  

    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n10 z-2">
            <div class="row mt-7">
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <!-- Header -->
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="https://bafybeihkz2evn74lzm7kp3nvdb3yovazfm6sfftswdo2gkqqle6r7l5sh4.ipfs.w3s.link/fatchur-rohman.svg" class="card-img-top rounded-circle border-0" alt="Fatchur Avatar">
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Fatchur Rohman</h2>
                            <span class="card-subtitle text-gray fw-normal">Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">                                
                                <li>
                                    <a href="https://www.linkedin.com/in/fatchur-rohman-star/" target="_blank" aria-label="linkedin social link" class="text-linkedin me-3">
                                        <span class="fab fa-linkedin"></span>
                                    </a>
                                </li>                                
                                <li>
                                    <a href="https://github.com/naji0329" target="_blank" aria-label="github social link" class="text-github me-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Blockchain developer</p>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <!--                
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        
                    </div>
                </div>                            
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300 text-center">
                        
                    </div>
                </div>
                -->                
            </div>
        </div>
    </section>

    <section class="section section-lg bg-gray-200">
        <div class="container z-2">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="h1">Be part of our team?</h2>
                    <p class="lead py-4 text-gray">At ASPPIBRA-DAO, we strongly believe in the power of collaboration. 
                        We value our collaborators immensely as they play a vital role in driving the success and growth of our organization. 
                        Regardless of whether you are a seasoned professional or a passionate technology enthusiast, we extend a warm invitation to you to join ASPPIBRA-DAO as a member.
                    </p>
                    <a href="/careers.html" class="btn btn-lg btn-secondary animate-up-2">See job openings</a>
                </div>
            </div>
        </div>  
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
