{% extends "layouts/base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-2 mb-4">ASPPIBRA-DAO<br class="d-none d-md-inline">who we are</h1>
                    <p class="lead mb-4 text-muted">
                        ASPPIBRA-DAO We are ASPPIBRA - Association of Property Owners and Possessors in Brazil. 
                        We are a non-profit civil association, founded on 09/04/2016, in the State of Rio de Janeiro-RJ, formed by professionals, 
                        liberals and citizens who wish to contribute to the socioeconomic development of modern society. 
                    </p>                                                            
                    <a href="/services.html" class="btn btn-tertiary me-3 animate-up-2">What we do <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="{{ ASSETS_ROOT }}/img/illustrations/Team-3d.svg" alt=""></div>
            </div>
        </div>
    </section>
    <!-- End of Hero section -->
    <!-- Section -->
    <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="{{ ASSETS_ROOT }}/img/sections/escritorio.svg" alt="Office Desk">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h2 class="h1 mb-5">State-of-the-art rural offices</h2>
                    <p class="lead">At ASPPIBRA-DAO, we are wholeheartedly committed to pioneering a forward-thinking approach to technology 
                        integration that promises to revolutionize the rural office landscape. Our steadfast mission is to extend the advantages 
                        of cutting-edge technology to the core of rural communities, providing them with the indispensable tools and resources 
                        essential for thriving in an ever-advancing digital era.
                    </p>
                    <p class="lead"></p>                    
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->
    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Visit Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-user"></span>
                        </div>
                        <h3 class="h5">Team Members</h3>
                        <span class="counter display-3 text-gray d-block">20</span>
                    </div>
                    <!-- End of Visit Box -->
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Call Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-money-check"></span>
                        </div>
                        <h3 class="h5">Projects Published</h3>
                        <span class="counter display-3 text-gray d-block">4</span>
                    </div>
                    <!-- End of Call Box -->
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <!-- Email Box -->
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-globe-europe"></span>
                        </div>
                        <h3 class="h5">Countries</h3>
                        <span class="counter display-3 text-gray d-block">5</span>
                    </div>
                    <!-- End of Email Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of section --> 
    <!-- End of section -->

    <section class="section py-0">
        <div class="container z-2">
            <div class="row position-relative justify-content-center align-items-cente">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card border-gray-300 px-4 py-1">
                        <div class="card-body text-center text-md-left">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h2 class="h1 mb-3">Become one of us</h2>
                                    <p class="lead mb-4">
                                        Do you want to join our team and work remotely from anywhere you’d like? We can’t wait to hear from you!
                                    </p>
                                    <a href="/careers.html" class="btn btn-primary">
                                        <span class="me-1">
                                            <span class="fas fa-file-invoice"></span>
                                        </span>
                                        Check Careers
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right">
                                    <img src="{{ ASSETS_ROOT }}/img/illustrations/mulherdesktop.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
